.site-footer {
	background-color: $black;
	color: #fff;
	font-size: rem(12px);
	margin-top: -1px;
	padding: {
		top: rem(70px);
		bottom: rem(95px);
	}
	position: relative;

	&__wrapper {
		position: relative;
	}

	h1 {
		color: #888;
		font-size: 1em;
		font-weight: $medium;
		text-transform: uppercase;
	}

	a {
		color: #fff;
		text-decoration: none;

		@include hover-state {
			text-decoration: underline;
		}
	}

	&__logo {
		margin-bottom: 2em;
		margin-right: 1em;

		@include breakpoint( bp( 3 ) ) {
			float: left;
		}

		svg {
			height: 21px;
			width: 30px;
		}

		path {
			fill: #fff;
		}
	}

	&__navigation {
		position: absolute;
		right: percentage( 5px / 320px );
		top: 0;

		@include breakpoint( bp( 3 ) ) {
			float: left;
			position: static;
		}

		ul {
			@extend %clearfix;
			list-style: none;
			margin: 2px 0 0;
		}

		li {
			@include breakpoint( bp( 3 ) ) {
				float: left;
				padding: 0 7px;
			}
		}

		a {
			@extend %hover-transition;
			display: block;
			padding: 1em 0;
			text-align: right;
			text-transform: uppercase;

			@include breakpoint( bp( 3 ) ) {
				line-height: 1;
				margin-top: cr(3px);
				padding: 0 8px;
			}

			@include hover-state {
				color: #888;
				text-decoration: none;
			}
		}
	}

	&__social {
		margin: 3em 0;

		@include breakpoint( bp( 3 ) ) {
			margin: cr(-14px) 0 0;
			position: absolute;
			right: percentage( 5px / 320px );
			top: 0;
		}

		.menu-social-container {
			text-align: center;
		}

		ul {
			display: inline-block;
			margin: 0;
		}

		li {
			a {
				@extend %hover-transition;
				border-color: transparent;
				color: #fff;
				height: 40px;
				margin: 0 4px;
				width: 40px;

				&:before {
					line-height: 40px;
				}

				@include hover-state {
					background-color: transparent;
					color: #888;
					text-decoration: none;
				}
			}
		}
	}

	&__copyright {
		font-size: ce(12px);
		color: #888;
		text-align: center;

		a {
			color: #888;
		}

		@include breakpoint( bp( 3 ) ) {
			bottom: 0;
			position: absolute;
			right: percentage( 5px / 320px );
		}
	}

	&__wrapper {
		@include breakpoint( bp( 3 ) ) {
			position: relative;
			@include container;
		}
	}

	&__address,
	&__phone {
		margin-bottom: 1rem;
	}

	@include breakpoint( bp ( 3 ) ) {
		&__phone,
		&__email {
			float: left;
		}

		&__email {
			margin-left: 2em;
		}
	}
}
