.site-header {

	[role="navigation"] {
		clear: none;
		float: left;
	}

	.primary-menu,
	.auxiliary-menu {
		@extend %clearfix;
		display: none;
		list-style: none;
		margin: cr(37px) 0 0 0;

		@include breakpoint( bp( 2 ) ) {
			display: block;
		}

		li {
			float: left;
			padding: 0 7px;
			text-align: right;

			a {
				padding: 8px;

				@include hover-state {
					color: $blue;
				}
			}

			&.current-menu-item a {
				color: $blue;
			}
		}
	}

	.primary-menu li a {
		font-weight: $medium;
	}

	.auxiliary-navigation {
		float: right;

		.auxiliary-menu li:last-child {
			padding-right: 0;

			a {
				padding-right: 0;
			}
		}
	}
}
