.single-post-content {
	@extend %max-width;
	font-size: em( 16px );

	&__wrapper {
		@extend %max-width--padded;
	}

	&__header {
		margin: {
			top: 3rem;
			bottom: 2rem;
		}
	}

	&__title {
		@extend %roboto-thin;
		font-size: em( 28px );
		line-height: 1;

		@include breakpoint( bp() ) {
			font-size: em( 40px );
		}
	}

	&__date {
		@extend %roboto-medium;
		color: mix( white, $color__black, 50% );
		margin: {
			top: 0.5em;
			bottom: 0.5em;
		}
	}

	&__featured-image {
		margin-bottom: 2rem;

		@include breakpoint( bp() ) {
			overflow: hidden;
			@include aspect-ratio( 8, 3 );
		}

		img {
			height: auto;
			width: 100%;

			@include breakpoint( bp() ) {
				@include centered("vertical");
			}
		}
	}

	&__content {
		@extend %max-width--blog;
	}

	&__sharing {
		@extend %max-width--blog;
		margin-bottom: 2em;
	}

	p {
		margin: {
			top: 1em;
			bottom: 1em;
		}

		&:first-of-type {
			margin-top: 0;
		}
	}

	h2 {
		font-weight: $font-weight__medium;
	}

	ul:not(.social, .single-blog__comments__list) {
		list-style: square;
		margin: 0 0 2em 1em;
	}

	.quotations {
		border: 1px solid $color__gray--light;
		margin-bottom: 2em;
		padding: 1em;

		&__quote {
			margin: 1em 0 0 1em;
			position: relative;

			&::before {
				color: transparentize($color__gray--light, 0.5);
				content: "\f106";
				display: block;
				font-family: Genericons;
				font-size: 3rem;
				left: -20px;
				line-height: 0;
				position: absolute;
				top: 50%;
				transform: rotate(180deg) translate(0, -50%);
				z-index: -1;
			}
		}

		&__quote-block {
			list-style: none;
			margin: 0 0 2em;
			z-index: 0;
		}

		&__attribution {
			@extend h2;
		}
	}

	blockquote {
		border-left: 3px solid;
		color: $color__blue;
		font: {
			size: rem( 16px );
			style: italic;
		}
		margin: 1.5em 1.5em 1.5em 0;
		padding-left: 1.5em;
	}

	/** Careers */

	&--careers {
		@extend %max-width--blog;

		&__subsection {
			margin-bottom: 2em;

			ul {
				list-style-type: square;
				margin-left: 1em;
			}
		}

		&__subhead {
			@extend %roboto-medium;
			border-bottom: 1px solid $color__gray;
			font-size: em( 14px );
			margin-bottom: 0.5em;
			padding-bottom: 0.25em;
			text-transform: uppercase;
		}

		&--boilerplate {
			margin-bottom: 4rem;
		}
	}

	/** Video Aspect Ratio Fix */
	/** Always set to 16:9, even though some videos may really be 4:3. */

	.video-container {
		padding-bottom: 56.25%; // 16:9
		position: relative;
		display: block;
		height: 0;
		width: 100%;
		overflow: hidden;

		iframe {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
}
