.content-panel {

	@include breakpoint( bp( 2 ) ) {
		display: flex;

		@include modernizr( "no-flexbox" ) {
			@include container( rem( 1600px ) );
		}
	}

	/** Content */

	&__content {
		@include side-padding( "new" );

		@include breakpoint( bp( 2 ) ) {
			min-height: rem( 282px );
			width: 50%;

			@include modernizr( "no-flexbox" ) {
				float: left;
			}
		}

		@include breakpoint( bp( 3 ) ) {
			min-height: rem( 400px );
		}

		&__inner {
			margin: {
				top: 2em;
				bottom: 2em;
			}

			@include breakpoint( bp( 2 ) ) {
				max-width: rem( 500px );
			}

			@include breakpoint( bp( 3 ) ) {
				margin: {
					top: 4em;
					bottom: 4em;
				}
			}
		}
	}

	/** Tags */

	&__tags {
		@include side-padding( "new" );

		@include breakpoint( bp( 2 ) ) {
			width: 50%;

			@include modernizr( "no-flexbox" ) {
				float: right;
			}
		}

		&__inner {
			margin: {
				top: 3em;
				bottom: 2em;
			}

			@include breakpoint( bp( 2 ) ) {
				max-width: rem( 500px );
			}

			@include breakpoint( bp( 3 ) ) {
				margin: {
					top: 5em;
					bottom: 4em;
				}
			}
		}
	}

	/** Image */

	&__image {
		@include aspect-ratio( 320px, 180px );

		@include breakpoint( bp( 2 ) ) {
			min-height: rem( 282px );
			overflow: hidden;
			position: relative;
			width: 50%;

			&::before {
				display: none;
			}

			picture,
			picture img {
				height: 100%;
				max-width: none;
				width: auto;
			}

			img {
				left: 50%;
				position: absolute;
				top: 0;
				transform: translate( -50%, 0 );
			}

			@include modernizr( "no-flexbox" ) {
				float: right;
			}
		}

		@include breakpoint( bp( 3 ) ) {
			min-height: rem( 450px );
		}
	}
}
