.six-up-image-panel {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	width: 100%;

	&__image {
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 50%;
		@include aspect-ratio( 160px, 120px );

		@include breakpoint( bp( 2 ) ) {
			height: 187px;

			&::before {
				display: none;
			}
		}

		@include breakpoint( bp( 3 ) ) {
			height: 300px;
		}

		@include modernizr( no-flexbox ) {
			float: left;
		}

		picture,
		picture img {
			height: 100%;
			max-width: none;
			width: auto;
		}

		img {
			position: absolute;
			top: 0;
		}

		&:nth-child( odd ) picture img {
			right: 0;
		}

		&:nth-child( even ) picture img {
			left: 0;
		}
	}
}
