/* ==========================================================================
   Typography
   ========================================================================== */

html {
	font-size: percentage( $font-size__default / 16px );
}

body {
	color: $color__black;

	// Inheritance issues vs. reset prohibit us from using our %roboto-normal placeholder selector
	font: {
		family: $font__roboto;
		weight: $font-weight__normal;
	}
	line-height: ( 16px / 12px );
}

b,
strong {
	font-weight: $font-weight__medium;
}
