/* ==========================================================================
   Typography
   ========================================================================== */

html {
	font-size: percentage( $font-size__default / 16px );
}

body {
	color: color( 'black' );

	// Inheritance issues vs. reset prohibit us from using our %roboto-normal placeholder selector
	font: {
		family: $font__roboto;
		weight: $font-weight__normal;
	}
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}

b,
strong {
	font-weight: $font-weight__medium;
}

/** Larger and small fonts as adjustments to the current font context. */

.font-larger {
	font-size: 1.2em;
}

.font-smaller {
	font-size: 0.8em;
}