/**
 * Global Components
 */


// Hero Images
.hero {
	height: cr(200px);
	margin-bottom: 3rem;

	&.home-hero {
		height: cr(450px);
	}

	@include breakpoint($bp-medium) {
		height: cr(400px);

		&.home-hero {
			height: cr(608px);
		}
	}

	@include breakpoint(1600px) {
		&.home-hero {
			height: auto;
		}
	}

	@include breakpoint($bp-large) {
		height: auto;
	}

	a {
		color: #fff;
		display: block;
		height: 100%;
		text-decoration: none;
	}

	&__container {
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	&__image {
		height: 100%;
		width: 100%;

		picture {
			display: block;
			height: 100%;
			width: 100%;

			img {
				display: block;
				height: 100%;
				left: 50%;
				max-width: 320px;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: auto;

				@include breakpoint($bp-small) {
					height: 100%;
					max-width: 600px;
				}

				@include breakpoint($bp-medium) {
					max-width: 1600px
				}

				@include breakpoint(1600px) {
					height: auto;
					max-width: none;
					position: static;
					transform: translate(0);
					width: 100%;
				}
			}
		}
	}

	// &.home-hero {
	// 	&__image {
	// 		picture {
	// 			img {
	// 				@include breakpoint(1200px) {
	// 					height: auto;
	// 					width: 100%;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	.wrapper {
		bottom: 0;
		left: 0;
		position: absolute;
		margin: {
			left: auto;
			right: auto;
		}
		right: 0;
		top: 0;

		@include breakpoint(1600px) {
			position: relative;
		}
	}

	&__headline {
		background-color: transparentize(#111215, 0.05);
		bottom: 0;
		font-size: cr(11px);
		left: 0;
		padding: ce(30px, 11px) percentage(18px / 250px);
		position: absolute;
		width: 50%;

		@include breakpoint($bp-medium) {
			font-size: cr(12px);
			padding: ce(30px, 12px) percentage(30px / 589px);
			@include span(9);
		}

		@include breakpoint(1600px) {
			margin-left: 5.625%;
		}

		h1 {
			@include font($roboto, $thin, ce(21px, 11px));

			@include breakpoint($bp-medium) {
				font-size: ce(36px, 12px);
			}
		}

		h1,
		p {
			margin: 0;
		}
	}

	// Case Study Hero Images
	&.case-study-hero-image {
		height: cr(120px);

		@include breakpoint($bp-small) {
			height: cr(225px);
		}

		@include breakpoint($bp-medium) {
			height: cr(600px);
		}
	}

	&.case-study-hero-image-tall {
		height: cr(180px);

		@include breakpoint($bp-small) {
			height: cr(337.5px);
		}

		@include breakpoint($bp-medium) {
			height: cr(900px);
		}
	}

	&.case-study-hero-image,
	&.case-study-hero-image-tall {
		margin-bottom: 6rem;

		@include breakpoint(1600px) {
			height: auto;
		}

		picture img {
			height: auto;
		}

		+ .case-study-hero-image {
			margin-top: -6rem;
		}
	}
}

// fixes to get this out the door (shame.css)
.interstitial .hero__image picture img {
	max-width: none;
}

@include breakpoint(1000px) {
	.hero.hero-image.interstitial {
		height: 640px;
	}
}


/**
 * Agency Page
 */


// Leadership
.leadership {
	@extend %side-padding;

	/**
	 * Styling
	 */
	&__name {
		font: {
			size: ce(12px);
			weight: $bold;
		}
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__title {
		font-size: ce(16px);
		line-height: 1.5;
		margin-bottom: 1em;
	}

	&__biography {
		&--wide {
			@extend %roboto-light-gray;
			display: none;

			@include breakpoint($bp-medium) {
				display: block;
				margin-bottom: 1em;
			}
		}

		&--narrow {
			@extend %roboto-light-gray;
			@include span(24 of 24);

			@include breakpoint($bp-medium) {
				display: none;
			}

			p {
				margin: 0;
			}
		}
	}

	/**
	 * Layout
	 */
	&__container {
		@include container;
	}
	
	&__person {
		@extend %clearfix;
		margin-bottom: 3rem;
		// @include highlight;

		@include breakpoint($bp-medium) {
			@include gallery(24 / 2)
		}

		// @include breakpoint($bp-large/2) {
		// 	@include gallery(24 / 3)
		// }

		@include breakpoint($bp-marge) {
			@include gallery(24 / 4);
		}
	}

	&__photo {
		@include span(12);
		margin-bottom: 1em;

		@include breakpoint($bp-medium) {
			@include span(24);
		}

		img {
			height: auto;
			width: 100%;
		}
	}

	&__social {
		li {
			margin-bottom: 0.5em;
		}
	}

	&__content {
		@include span(12 last);

		@include breakpoint($bp-medium) {
			@include span(24);
		}
	}
}


// Clients
.clients {
	&__content {
		@extend %clearfix;
		margin: {
			right: auto;
			bottom: 3rem;
			left: auto;
		}
		max-width: cr(1000px);
	}

	&__entry-content {
		@include breakpoint($bp-large / 2) {
			@include span(18 of 24);
		}
	}

	&__client {
		@include gallery(24 / 2);

		@include breakpoint($bp-medium) {
			@include gallery(24 / 3);
		}

		@include breakpoint($bp-large) {
			@include gallery(24 / 4);
		}
	}

	&__logo {
		@extend %ir;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% auto;
		height: 100px;
		margin-bottom: 2rem;
		width: 100%;
	}
}


// Awards
.awards {
	background-color: $blue;
	color: #fff;
	margin-top: 3em;
	padding: 3em 0;

	&__content {
		@include container;

		.entry-content {
			@include breakpoint($bp-medium) {
				@include span(16);
			}
		}
	}
}





/**
 * News/Views Page
 */


// Search form
section.search-form {
	@extend %clearfix;
	@extend %side-padding;
	margin-bottom: 3rem;
	@include container;

	label {
		display: block;
		float: left;
		width: 100%;

		@include breakpoint($bp-large/2) {
			width: span(16 of 24);
		}
	}

	.search-field {
		box-sizing: border-box;
		display: inline-block;
		font-size: cr(16px);
		padding: 10px;
		width: 100%;

		&:focus {
			box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
			outline: none;
		}
	}

	.search-submit {
		background: {
			color: transparent;
			image: url("../images/search.png");
			position: center 11px;
			repeat: no-repeat;
		}
		border: 0;
		display: block;
		float: left;
		margin-left: -50px;
		overflow: hidden;
		padding: 17px 10px 16px;
		text-indent: 200%;
		white-space: nowrap;
		width: 50px;

		@include hover-state {
			background-color: transparent;
		}
	}
}


// Mailchimp
.mc_merge_var {
	margin-bottom: 1rem;
}

#mc_signup_form {
	.mc_var_label {
		display: block;
		margin-bottom: 0.5rem;
	}

	.mc_input {
		width: 50%;
	}
}

.mc_signup_submit {
	text-align: left;
}
