/**
 * Entry Content
 */
.entry-meta {
	margin-bottom: 1em;
}

.entry-content {
	margin-bottom: 3rem;
	// @include container( 1600px );
	// @include side-padding( "new" );

	&__container {
		@include breakpoint($bp-large/2) {
			@include span(16);
		}
	}

	h1 {
		margin-bottom: 0.5em;
	}

	&__archive-title {
		@extend %roboto-medium-black;
		font-size: cr(14px);
		text-transform: uppercase;
	}

	&__meta {
		@extend %roboto-light-gray;
		margin-bottom: 1rem;
	}

	blockquote {
		border-left: 3px solid;
		color: $blue;
		font: {
			size: rem( 16px );
			style: italic;
		}
		margin: 1.5em 1.5em 1.5em 0;
		padding-left: 1.5em;
	}
}

@import "content/single-blog";

@import "content/listing";

/**
 * Widget Area
 */
.blog-archive-widget-area {
	@extend %clearfix;
	background-color: map-get($gray_map, light);
	margin-top: 5rem;
	padding: {
		top: 5rem;
		bottom: 2rem;
	}

	aside {
		@include breakpoint($bp-medium) {
			@include gallery(24/2);
		}

		@include breakpoint(1600px) {
			@include gallery(24/3);
		}
	}

	// make the background of the subscribe field transparent normally,
	// and white on :focus
	input[type="email"] {
		background-color: transparent;

		&:focus {
			background-color: #fff;
		}
	}
}


// Agency
.agency {
	&__intro {
		@extend %clearfix;
		font-size: ce(16px);
		margin-bottom: 3rem;
		@include breakpoint($bp-large) {
			@include span(16);
		}
	}

	&__left,
	&__right {
		@include breakpoint($bp-medium) {
			@include span(12);
		}

		h2 {
			font-size: ce(12px);
			font-weight: $normal;
			text-transform: uppercase;
		}
	}

	&__left {
		margin-bottom: 1.5em;
	}

	&__right {
		@include breakpoint($bp-medium) {
			@include last;
		}
	}
}


// Comments
.comments-area {
	margin-bottom: 3rem;
}


@import "contact";

@import "components/work/introduction";


@import "components/work/entry-content";


@import "components/work/images-grid";


@import "components/related-work";

@import "content/careers";

@import "content/work-landing-page";


.quotations {
	border: 1px solid map-get( $gray_map, "light" );
	margin-bottom: 2em;
	padding: 1em;

	&__quote {
		margin: 1em 0 0 1em;
		position: relative;

		&::before {
			color: transparentize(map-get( $gray_map, "light" ), 0.5);
			content: "\f106";
			display: block;
			font-family: Genericons;
			font-size: 3rem;
			left: -20px;
			line-height: 0;
			position: absolute;
			top: 50%;
			transform: rotate(180deg) translate(0, -50%);
			z-index: -1;
		}
	}

	&__quote-block {
		list-style: none;
		margin: 0 0 2em;
		z-index: 0;
	}

	&__attribution {
		@extend h2;
	}
}

/** Comments */
@import "comments";
