// Contact
.contact {

	&__info-and-form {
		@include side-padding( "new" );

		@include breakpoint( $bp-medium ) {
			@include container( 1600px );
		}
	}

	&__info {
		line-height: 1.2;
		margin-bottom: 2rem;
		@include container;

		@include breakpoint( $bp-medium ) {
			@include span( 12 );
		}

		@include breakpoint( $bp-marge ) {
			@include span( 8 )
		}

		> div {
			margin-bottom: 2rem;
		}

		h2 {
			@extend %section-header;
		}

		&__email,
		&__phone-fax-numbers,
		&__fact-sheet-link {

			span {
				display: none;

				@include breakpoint($bp-medium) {
					display: inline;
				}
			}
		}

		&__social {

			li a {
				margin: {
					top: 0.25em;
					bottom: 0.25em;
				}
			}

			li:last-child a {
				margin-right: 0;
			}
		}
	}

	&__form {

		@include breakpoint( $bp-medium ) {
			@include span( 12 last );
		}

		@include breakpoint( $bp-marge ) {
			@include span( 16 last );
		}
	}

	&__map {
		position: relative;

		&__container {
			height: cr(300px);
			width: 100%;

			@include breakpoint($bp-medium) {
				height: cr(608px);
			}

			// Fixes distorted zoom controls in Google maps
			img {
				max-width: none;
			}
		}

		&__inset {
			background-color: #fff;
			border: 1px solid #ccc;
			display: none;
			left: 10%;
			padding: 1rem;
			position: absolute;
			top: 10%;

			@include breakpoint($bp-medium) {
				display: block;
			}
		}
	}
}
