/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}

/**
 * Hero images
 */
.hero-image {

	picture img {
		display: block;
		height: 100%;
		left: 50%;
		max-width: 320px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;

		@include breakpoint($bp-small) {
			max-width: 640px;
		}

		@include breakpoint($bp-medium) {
			max-width: 1600px
		}

		@include breakpoint($bp-large) {
			height: auto;
			max-width: none;
			position: static;
			transform: translate(0);
			width: 100%;
		}
	}
}
