/**
 * Headers (H1, H2, etc.)
 */

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $roboto;
	line-height: 1.2;
}

h1 {
	font-size: ce( 30px, $default-font-size );
	text-transform: uppercase;

	&.page-title {
		color: $blue;
		font-size: ce(48px, $default-font-size);
		font-weight: $light;
		line-height: 1;
		margin-bottom: 0.5em;
	}
}

h2 {
	font-size: ce(18px);
	font-weight: $bold;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}