body.home {

	.site-content {
		margin: 0;
		max-width: none;
		width: 100%;

		&:before,
		&:after {
			display: none;
		}
	}

	article {
		@include container;
	}

	.entry-content {
		font-size: cr(16px);
		padding: ce(70px, 16px) 0;
		@include span(isolate 18 at 4);

		@include breakpoint(730px) {
			@include span(isolate 14 at 6);
		}

		a {
			font-size: ce(12px, 16px);
			font-weight: $medium;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}

.home-hero,
.home-work {

	a {
		display: block;
		position: relative;
		text-decoration: none;
		width: 100%;
	}

	.headline {
		bottom: 0;
		font-size: cr(11px);
		left: 0;
		padding: ce(30px, 11px) percentage(18px / 250px);
		position: absolute;
		width: 50%;

		@include breakpoint($bp-medium) {
			font-size: cr(12px);
			padding: ce(30px, 12px) percentage(30px / 589px);

			h1 {
				font-size: ce(36px, 12px);
			}
		}

		/**
		 * Responsify with breakpoint and susy
		 */
		@include breakpoint($bp-medium) {
			@include span(9);
		}

		h1 {
			@include font($roboto, $thin, ce(25px, 11px));
		}

		h1,
		p {
			margin: 0;
		}
	}
}

.home-work {
	@include container;
	@include highlight;

	a {
		box-shadow: inset 0px 0px 55px rgba(0, 0, 0, 0.3);
		color: $black;
		height: cr(400px);

		/**
		 * For dev only
		 */
		&:nth-child(1) {
			background-color: $green;
		}

		&:nth-child(2) {
			background-color: $gold;
		}

		&:nth-child(3) {
			background-color: $mauve;
		}
	}

	picture,
	picture img {
		height: auto;
		width: 100%;
	}

	.headline {
		background-color: transparentize(#fff, 0.1);
	}

	a:nth-child(even) .headline {
		left: auto;
		right: 0;
	}
}
