body.home {

	.site-content {
		margin: 0;
		max-width: none;
		width: 100%;

		&:before,
		&:after {
			display: none;
		}
	}

	article {
		@include container;
	}

	.entry-content {
		font-size: cr(16px);
		padding: ce(70px, 16px) 0;
		@include span(isolate 18 at 4);

		@include breakpoint(730px) {
			@include span(isolate 14 at 6);
		}

		a {
			font-size: ce(12px, 16px);
			font-weight: $medium;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}

.home-hero,
.home-work {

	a {
		display: block;
		position: relative;
		text-decoration: none;
		width: 100%;
	}

	.headline {
		bottom: 0;
		font-size: cr(11px);
		left: 0;
		padding: ce(30px, 11px) percentage(18px / 250px);
		position: absolute;
		width: 50%;

		@include breakpoint($bp-medium) {
			font-size: cr(12px);
			padding: ce(30px, 12px) percentage(30px / 589px);

			h1 {
				font-size: ce(36px, 12px);
			}
		}

		/**
		 * Responsify with breakpoint and susy
		 */
		@include breakpoint($bp-medium) {
			@include span(9);
		}

		h1 {
			@include font($roboto, $thin, ce(25px, 11px));
		}

		h1,
		p {
			margin: 0;
		}
	}
}

.home-hero {

	picture,
	picture img {
		display: block;
		height: 100%;
		left: 50%;
		max-width: 320px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;

		@include breakpoint($bp-small) {
			max-width: 640px;
		}

		@include breakpoint($bp-medium) {
			max-width: 1600px
		}

		@include breakpoint($bp-large) {
			height: auto;
			max-width: none;
			position: static;
			transform: translate(0);
			width: 100%;
		}
	}

	a {
		color: #fff;
		height: cr(450px);
		overflow: hidden;

		@include breakpoint($bp-medium) {
			height: cr(608px);
		}

		@include breakpoint($bp-large) {
			height: auto;
		}
	}

	.wrapper {
		height: 100%;
		position: relative;
	}

	.headline {
		background-color: transparentize(#111215, 0.05);
	}
}

.home-work {
	@include container;
	@include highlight;

	a {
		color: $black;
		height: cr(400px);

		/**
		 * For dev only
		 */
		&:nth-child(1) {
			background-color: $green;
		}

		&:nth-child(2) {
			background-color: $gold;
		}

		&:nth-child(3) {
			background-color: $mauve;
		}
	}

	.headline {
		background-color: transparentize(#fff, 0.1);
	}
}
