.site-content {
	@extend %wrapper;

	@include bp(large) {
		> .content-area {
			@include griddr(8);
		}
	}

	> .widget-area {
		@include bp(medium) {
			padding: 0;
		}

		@include bp(large) {
			@include griddr(4);
			@include griddr-last;
		}
	}
}

.page:not(.page-careers) {
	.content-area {
		margin-right: 0;
		width: 100%;
	}
}
