/** Special for Christmas: Animated snow on the RPTree banner */
.post-9075 .work-introduction-hero-image .hero__image,
.home-hero .hero__image {
	position: relative;

	&::after {
		animation: snow 120s linear infinite;
		background: {
			image: url("../images/snow.png");
			position: 0 0;
			repeat: repeat;
		}
		content: "";
		display: block;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

@keyframes snow {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 2000px 3000px;
	}
}
