$social: (
	facebook:		'\f204',
	twitter:		'\f202',
	linkedin:		'\f207',
	pinterest:		'\f209',
	github:			'\f200',
	dribbble:		'\f201',
	instagram:		'\f215',
	email:			'\f410',
	googleplus:		'\f218',
	youtube:		'\f213'
);

%social {
	@extend %genericon;
	@extend %ir;
	border-radius: 100%;
	display: block;
	height: 32px;
	text-decoration: none;
	width: 32px;

	&:before {
		font-size: ce(18px);
		line-height: 32px;
		text-align: center;
		width: auto;
	}
}

.social {
	@extend %clear-ul-formatting;
	@extend %clearfix;

	li {
		float: left;

		a {
			@extend %social;
			background-color: #fff;
			color: $gray;
			margin: 0 4px;

			@include hover-state {
				background-color: $blue;
				color: #fff;
			}
		}

		@each $network, $content in $social {
			&.#{$network} a:before {
				content: $content;
			}
		}
	}
}
