.hero__image {
	position: relative;
}

html.csstransforms {
	.hero .wrapper {
		z-index: 10;
	}

	.woolly {
		background: {
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		height: (1540px / 2);
		position: absolute;
		transform: rotate(30deg);
		transition: opacity 1000ms ease-in-out;
		width: (1020px / 2);

		&.hidden {
			opacity: 0;
		}

		&.position-1 {
			left: 58%;
			top: 73%;
		}

		&.position-2 {
			left: -34%;
			top: 16%;
		}

		&.position-3 {
			left: 89%;
			top: -37%;
		}

		&.cherokee {
			background-image: url("../images/woolly/cherokee.jpg");
			z-index: 1;
		}

		&.zombie {
			background-image: url("../images/woolly/zombie.jpg");
			z-index: 2;
		}

		&.puppet {
			background-image: url("../images/woolly/puppet.jpg");
			z-index: 3;
		}
	}
}
