.no-borderradius {

////////////////////////////////
// HOME PAGE
////////////////////////////////
	.main-navigation {
		.primary-menu {
			display: block;
			margin-bottom: 0px;
			padding: 8px;
			margin-left: -25px;
		}
	}
	.menu-open {
		display: none;
	}
	.site-title {
		height: 40px;
		width: 70px;

		a {
			height: 40px;
			width: 70px;
			margin-top: 8px;
			background-image: url('../images/logo-rp3-blue.png');
			background-repeat: no-repeat;
		}
	}
	.home-splash { 
		.home-splash__inner {
			left: 0 !important;
		}
		.hero__headline {
			background-color: #222 !important;
		}
	}
	.home-work {
		.hero__container {
			position: relative;
		}
		.hero__headline {
			background-color: #fff;
		}
		.hero {
			width: 48%;
			display: inline-block;
		}
	}
	.home {

		.entry-content {
			float: none;
		}
	}
	.home-errata__block {
		width: 49.6%;
		display: inline-block;
		min-height: 300px;
		padding: 20px;
	}
	.home-errata, .home-work {
		margin-left: 0;
		margin-right: 0;
	}
	.site-footer{ 
		background-color: transparent;
		&__wrapper {
			background-color: #222222;
			padding: 10px 30px;
		}
		&__logo {
			height: 40px;
			width: 40px;
			display: inline-block;
			vertical-align: top;

			a {
				height: 40px;
				width: 40px;
				background-image: url('../images/logo-rp3-footer-ie8.png');
				background-repeat: no-repeat;
				margin-top: 13px;
			}
		}
		&__navigation {
			position: relative;
			right: 0;
			display: inline-block;
			vertical-align: top;
			width: auto;

			li {
				display: inline-block !important;
			}
		}
		&__social {
			ul {
				float: right;
				margin-top: -300px;
			}
		}
		&__copyright {
			text-align: right;
			margin-top: -65px;
		}
	}

////////////////////////////////
// AGENCY PAGE
////////////////////////////////

	.entry-content, .careers__row {
		padding-left: 0;
		padding-right: 0;
	}
	.agency__left, .agency__right {
		width: 49%;
		display: inline-block;
		vertical-align: top;
		padding-right: 20px;
	}
	.leadership__person {
		width: 32%;
		display: inline-block;
		vertical-align: top;
		margin-top: 30px;
	}
	.clients {
		display: none;
	}

////////////////////////////////
// WORK PAGE
////////////////////////////////

.work__headline {
	background-color: #fff;
}
.work__set {
	.work__container--half, .work__half {
		width: 48%;
		display: inline-block;
	}
	.work__full-width {
		width: 50%;
		margin-left: 0;
		margin-right: 0;
	}
}

////////////////////////////////
// NEWS PAGE
////////////////////////////////

	.news-listing__article {
		vertical-align: top;
		width: 100%;
		display: inline-block;
		margin-right: 20px;
		float: left;
	}

////////////////////////////////
// CONTACT PAGE
////////////////////////////////
	.page-contact {
		.site-footer{ 
			background-color: #222;
		}
	}
	.contact__info {
		padding-left: 0;
		padding-right: 0;
		div {
			display: inline-block;
			width: 33%;
		}
		.menu-social-container {
			width: 100% !important;
		}
	}
}
