/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
.site-content {
	margin: 0 auto;
	max-width: ce(1280px, $default-font-size);
	width: 95%;

	@include bp(large) {

		> .content-area {
			@include griddr(8);
		}

		> .widget-area {
			@include griddr(4);
			@include griddr-last;
		}
	}
}
