.checker-block {
	@extend %max-width;
	background-color: $color__gray--light;
	height: rem(600px);
	overflow: hidden;
	position: relative;
	width: 100%;

	&__inner {
		height: rem(600px);
		position: absolute;
		width: rem(1200px);
		@include centered( "horizontal" );
	}

	&__block {
		height: rem(150px);
		position: absolute;
		width: rem(200px);

		&--01 {
			height: rem(300px);
			left: rem(400px);
			width: rem(400px);
		}

		&--02 {
			left: rem(1000px);
		}

		&--03 {
			top: rem(150px);
		}

		&--04 {
			left: rem(800px);
			top: rem(150px);
		}

		&--05 {
			top: rem(300px);
			width: rem(400px);
		}

		&--06 {
			left: rem(600px);
			top: rem(300px);
		}

		&--07 {
			left: rem(200px);
			top: rem(450px);
		}

		&--08 {
			left: rem(800px);
			top: rem(450px);
			width: rem(400px);
		}

		&--blue-01 {
			background-color: $color__blue;
			left: rem(200px);
			top: rem(150px);
		}

		&--blue-02 {
			background-color: $color__blue;
			left: rem(1000px);
			top: rem(150px);
		}

		&--magenta {
			background-color: $color__magenta;
			left: rem(400px);
			top: rem(300px);
		}
	}
}
