.contact {
	// @extend %max-width;

	&__content {
		@extend %max-width;
	}

	h2.contact__header {
		@extend %roboto-medium;
		font-size: em( 12px );
		margin-bottom: 0;
		text-transform: uppercase;
	}

	/** Contact groupings */

	.page__panel__contact-groupings {

		ul {

			@include breakpoint( bp( 'medium' ) ) {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				margin-bottom: 2em;

				&:nth-of-type(1) {
					align-items: flex-end;
				}

				&:nth-of-type(2) {
					align-items: flex-start;
				}
			}
		}

		li {
			margin-bottom: 1em;

			@include breakpoint( bp( 'medium' ) ) {
				margin-right: gutter();
				width: span(8);

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	/** Social Media */

	&__social ul {
		margin: {
			top: 0.5em;
			bottom: 0.5em;
		}
	}


	&__info {
		@extend %max-width--padded;

		> * {
			margin-bottom: 2em;
		}

		p {
			margin: {
				top: 0;
				bottom: 0;
			}

			&:nth-of-type(n+2) {
				margin-top: 1em;
			}
		}
	}

	&__form {
		@extend %max-width--padded;

		@include breakpoint( bp() ) {
			width: span( 12 of 24 );
		}

		p {
			margin-bottom: 2em;

			&:first-of-type {
				margin-top: 0;
			}
		}

		input[type="email"],
		input[type="text"],
		input[type="url"],
		textarea {
			margin-top: 0.5em;
			max-width: 100%;
		}
	}

	&__map {
		position: relative;

		&__container {
			min-height: rem( 240px );
			width: 100%;
			@include aspect-ratio();

			@include breakpoint( bp( "intermediate" ) ) {
				@include aspect-ratio( 640px, 240px ); // 8:3
			}

			// Fixes distorted zoom controls in Google maps
			img {
				max-width: none;
			}
		}
	}
}


.page__panel__social-media {
	background-color: color( 'blue' );
	padding: {
		top: 2rem;
		bottom: 2rem;
	}

	&__inner {
		@extend %max-width;
	}

	h2 {
		color: color( 'white' );
	}

	.contact__info__social {
		@extend %max-width--padded;
	}

	.social {

		li {
			margin: {
				right: 8px;
				bottom: 8px;
			}

			&:nth-child(4) {
				clear: both;
			}

			a {
				border-color: color( 'white' );
				color: color( 'white' );
				height: 64px;
				margin-right: 0;
				width: 64px;

				@include hover-state {
					background-color: color( 'white' );
					color: color( 'blue' );
				}

				&::before {
					font-size: 2em;
					height: 100%;
					line-height: 64px;
				}
			}
		}
	}
}
