.contact {
	@extend %max-width;

	h2.contact__header {
		@extend %roboto-medium;
		font-size: em( 12px );
		margin-bottom: 0;
		text-transform: uppercase;
	}

	&__info-and-form {

		@include breakpoint( bp() ) {
			display: flex;
		}
	}

	&__info {

		@include breakpoint( bp() ) {
			margin-right: gutter();
			width: span( 12 of 24 );
		}

		> * {
			margin-bottom: 2em;
		}

		p {
			margin: {
				top: 0;
				bottom: 0;
			}
		}

		&__social ul {
			margin: {
				top: 0.5em;
				bottom: 0.5em;
			}
		}
	}

	&__form {

		@include breakpoint( bp() ) {
			width: span( 12 of 24 );
		}

		p {
			margin-bottom: 2em;
		}

		input[type="email"],
		input[type="text"],
		input[type="url"],
		textarea {
			margin-top: 0.5em;
			max-width: 100%;
		}
	}

	&__map {
		position: relative;

		&__container {
			min-height: rem( 240px );
			width: 100%;
			@include aspect-ratio();

			@include breakpoint( bp( "intermediate" ) ) {
				@include aspect-ratio( 640px, 240px ); // 8:3
			}

			// Fixes distorted zoom controls in Google maps
			img {
				max-width: none;
			}
		}
	}
}
