.front-page {

	/** Hero (to be replaced with the agency video) */

	&__hero {
		@extend %max-width;
		margin-bottom: 2rem;

		&__container {
			@include aspect-ratio( 16, 9 );
		}

		&__video iframe {
			height: 100%;
			width: 100%;
		}

		&__play-audio {
			@extend %max-width--padded;
			background-color: $color__white;
			display: none;
			font-weight: $font-weight__bold;
			height: 50px;
			left: 1em;
			opacity: 0.5;
			position: absolute;
			top: 1em;
			transition: opacity 100ms linear;
			width: 50px;

			svg {
				position: absolute;
				top: 5px;
				left: 5px;
				width: 40px;
				height: auto;
			}

			@include hover-state {
				opacity: 1;
			}

			html.no-touch & {
				display: block;
			}
		}
	}

	/** Copy */

	&__copy {
		@extend %max-width;
		padding-bottom: 2rem;

		@include breakpoint( bp() ) {
			padding: {
				top: 2rem;
				bottom: 4rem;
			}
		}

		&__wrapper {
			@extend %max-width--padded;
			@extend %max-width--blog;
		}
	}

	/** Work */

	&__work {
		@extend %max-width;

		a {
			height: 100%;
			overflow: hidden;
			position: relative;

			@include breakpoint( bp() ) {
				margin-top: 100%;
				opacity: 0;
				transition: margin-top 1s ease-out, opacity 1.5s ease-out 0.5s;

				&.active {
					margin-top: 0;
					opacity: 1;
				}
			}
		}

		&__item {
			@extend %max-width--padded;
			margin-bottom: 1rem;

			@include breakpoint( bp() ) {
				height: rem( 450px );
				margin-bottom: 0;
				overflow: hidden;
			}

			&--color-bar {
				background-color: $color__gray--light;
				height: rem( 450px / 2 );
				position: relative;

				h1 {
					left: 0;
					line-height: 1.2;
					margin-top: rem(15px);
					position: absolute;
					right: 0;
					text-align: center;
					top: percentage( 2 / 3 );
					transform: translate( 0, -50% );

					@include breakpoint( bp() ) {
						font-size: rem(36px);
					}

					&::before {
						content: url("../images/icon-bullseye.svg");
						height: 75px;
						left: 50%;
						position: absolute;
						top: -90px;
						transform: translate( -17px, 0 );
						width: 75px;
					}
				}
			}
		}

		img {

			@include breakpoint( bp() ) {
				height: 100%;
				max-width: none;
				width: auto;
				@include centered( "horizontal" );
			}
		}

		&__tagline {
			line-height: 1.3;

			@include breakpoint( bp() ) {
				bottom: 0;
				left: 0;
				position: absolute;
				top: 75%;
				width: 100%;
			}

			@include breakpoint( bp( "intermediate" ) ) {
				width: 25%;

				.front-page__work__item:nth-of-type(even) & {
					left: auto;
					right: 0;
				}
			}

			&__inner {

				@include breakpoint( bp() ) {
					width: calc( 100% - 2em );
					@include centered( "vertical" );
				}
			}
		}
	}

	/** Blocks */

	&__blocks {
		@extend %max-width;
		color: $color__white;
		font-size: rem( 12px );

		&__subhead {
			font-size: em( 20px );
			font-weight: $font-weight__thin;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		@include breakpoint( bp() ) {
			font-size: em( 14px );
		}

		&__row {
			@extend %max-width--padded;
			display: flex;
		}

		&__block {
			min-height: rem( 150px );
			overflow: hidden;
			padding: 1em;
			width: 50%;

			@include breakpoint( bp() ) {
				opacity: 0;
				transition: opacity 1.5s ease-out 0.5s;

				&.active {
					opacity: 1;
				}
			}

			@include breakpoint( bp() ) {
				background: {
					position: 1rem 1rem;
					repeat: no-repeat;
					size: 55px auto;
				}
				min-height: rem( 200px );
				padding: 1em 1rem 1em 85px;
			}
		}

		&__general-widget {
			background-color: $color__magenta;

			@include breakpoint( bp() ) {
				background-image: url("../images/icon-lightning.svg");
			}
		}

		&__blog {
			background-color: $color__black;

			@include breakpoint( bp() ) {
				background-image: url("../images/icon-gears.svg");
			}

			@include breakpoint( bp( "intermediate" ) ) {
				width: 25%;
			}

			ul {
				list-style-type: none;
				margin: 0;
			}
		}

		&__twitter {
			background-color: $color__blue;

			a {
				color: currentColor;
				text-decoration: none;
			}

			@include breakpoint( bp() ) {
				background-image: url("../images/icon-twitter.svg");
			}

			@include breakpoint( bp( "intermediate" ) ) {
				width: 25%;
			}

			/** Prevent orphans in the timestamp */
			.twitter-timestamp {
				white-space: nowrap;
			}
		}

		&__news {
			background-color: $color__gray;

			@include breakpoint( bp() ) {
				background-image: url("../images/icon-flame.svg");
			}

			@include breakpoint( bp( "intermediate" ) ) {
				width: 25%;
			}
		}

		&__link { 
			font-size: em( 7px, 12px );
		}

		&__row--2 {

			@include breakpoint( bp( ) ) {
				justify-content: space-between;
			}
		}
	}
}
