.front-page {
	@extend %max-width;

	/** Hero (to be replaced with the agency video) */

	&__hero {
		margin-bottom: 2rem;
	}

	/** Copy */

	&__copy {
		@extend %max-width--padded;
		padding-bottom: 2rem;

		@include breakpoint( bp() ) {
			padding: {
				top: 2rem;
				bottom: 4rem;
			}
		}

		&__wrapper {
			@extend %max-width--blog;
		}
	}

	/** Work */

	&__work {
		@extend %max-width--padded;

		@include breakpoint( bp() ) {
			display: flex;
			margin-bottom: 2rem;
		}

		&__item {
			flex: 1;
			margin-bottom: 1rem;

			@include breakpoint( bp() ) {
				margin: {
					right: gutter();
					bottom: 0;
				}

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		&__tagline {
			@extend %roboto-medium;
			font-size: rem( 12px );
			padding: 0.5em 0;
			text-transform: uppercase;
		}
	}
}
