.front-page {
	@extend %max-width;

	/** Hero (to be replaced with the agency video) */

	&__hero {
		@extend %max-width--padded;
		margin-bottom: 2rem;
	}

	/** Work */

	&__work {
		@extend %max-width--padded;

		@include breakpoint( bp() ) {
			display: flex;
			margin-bottom: 2rem;
		}

		&__item {
			margin-bottom: 1rem;

			@include breakpoint( bp() ) {
				margin: {
					right: gutter();
					bottom: 0;
				}

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		&__description {
			font-size: rem( 12px );
			padding: 0.5em 0;
		}

		&__title {
			@extend %roboto-thin;
			display: block;
			font-size: em( 16px, 12px );
		}

		&__client b {
			text-transform: uppercase;
		}
	}
}
