.page__panel {
	@extend %max-width;
	line-height: 1.5;
	margin-bottom: 2rem;

	&__header {
		@extend %max-width--padded;

		h1 {
			@extend %roboto-thin;
			font-size: em( 40px );
			margin-bottom: 0.25em;
		}
	}
}

@import
	"panels-image-interstitial",
	"panels-leadership",
	"panels-clients";
