// Clients
.clients {
	@extend %max-width;

	svg path,
	svg g > * {
		fill: $color__black !important; // !important, to override inline styles from Adobe Illustrator

		&[fill="none"] {
			fill: none !important;
		}
	}


	/** Layout with flexbox */

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__client {
		margin-top: -4rem;
		width: 50%;

		&:nth-child(-n+2) {
			margin-top: 0;
		}

		@include breakpoint( bp() ) {
			width: percentage( 1 / 3 );

			&:nth-child(-n+3) {
				margin-top: 0;
			}
		}

		@include breakpoint( bp( "large" ) ) {
			margin-top: 0;
			width: 20%;
		}

		&__inner {
			position: relative;
			@include aspect-ratio( 4, 3 );

			svg {
				@include centered( "vertical" );
				height: auto;
				left: 12.5%;
				right: 12.5%;
				width: 75%;
			}
		}
	}
}
