// Leadership
.leadership {

	/**
	 * Styling
	 */
	&__name {
		font: {
			size: em(12px);
			weight: $font-weight__bold;
		}
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__title {
		font-size: em(16px);
		line-height: 1.5;
		margin-bottom: 1em;
	}

	&__biography {
		font-size: em( 14px );

		&--wide {
			@extend %roboto-light;
			display: none;

			@include breakpoint( bp() ) {
				display: block;
				margin-bottom: 1em;
			}
		}

		&--narrow {
			@extend %roboto-light;
			@include span(24 of 24);

			@include breakpoint( bp() ) {
				display: none;
			}

			p {
				margin: 0;
			}
		}
	}

	/**
	 * Layout
	 */
	&__container {
		@extend %max-width--padded;
		@include container;
	}
	
	&__person {
		@extend %clearfix;
		margin-bottom: 3rem;

		@include breakpoint( bp() ) {
			@include gallery(24 / 2)
		}

		@include breakpoint( bp( "large" ) ) {
			@include gallery(24 / 4);
		}
	}

	&__photo {
		@include span(12);
		margin-bottom: 1em;

		@include breakpoint( bp() ) {
			@include span(24);
		}

		img {
			height: auto;
			width: 100%;
		}
	}

	&__social {
		li {
			margin-bottom: 0.5em;
		}
	}

	&__content {
		@include span(12 last);

		@include breakpoint( bp() ) {
			@include span(24);
		}
	}
}
