// Careers
.careers {
	@extend %max-width;
	font-size: em( 14px );
	line-height: 1.5;
	margin-top: 3em;

	&__header {
		@extend %max-width--padded;
		@extend %roboto-light;
		font-size: rem(20px);
		margin-bottom: 0.5em;
	}

	&--single__entry-content {
		margin-bottom: 1em;

		.entry-content__container {
			float: none;
			margin-right: 0;
			width: 100%;
		}
	}

	&__primary {
		max-width: rem( 600px );
		padding: {
			right: percentage( 5px / 320px );
			left: percentage( 5px / 320px );
		}

		@include breakpoint( bp() ) {
			padding: {
				right: 0;
				left: 0;
			}
			@include span( 15 );
		}
	}

	&__secondary {
		@include breakpoint( bp() ) {
			@include span(8 of 24 last);
		}

		.widget ul {
			margin: 0 0 1.5em 3em;

			@include breakpoint( cp() ) {
				margin: 0 0 3em 1em;
			}
		}
	}

	&__header--section {
		border-bottom: 1px solid $color__gray;
		margin-bottom: 3rem;

		&.no-bottom-margin {
			border-bottom: none;
			margin-bottom: 0;
		}

		h1,
		h2 {
			font: {
				size: em(12px);
				weight: $font-weight__medium;
			}
			line-height: 3;
			text-transform: uppercase;
		}
	}

	&__header--article {

		h2 {
			@extend %roboto-medium;
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}

	&__title {
		margin-bottom: 0.5em;
	}

	&__secondary-copy {
		@extend %wrapper;
		margin-bottom: 3rem;
		margin-top: 3rem;
	}

	&__entry-content--larger {
		font-size: em(16px);

		@include breakpoint( bp() ) {
			@include span(16 of 24);
		}
	}

	&__tagline {
		color: $color__gray;
		font-size: em(16px);
	}

	&__details {

		.careers__header--section {
			margin: {
				left: 0;
				right: 0;
			}
		}
	}

	&__boilerplate {
		@extend %max-width--padded;

		ul {
			list-style: square;
			margin-left: 16px;
		}

		p {
			margin: {
				top: 0.5em;
				bottom: 0.5em;
			}
		}
	}

	/**
	 * Layout
	 */
	
	> ul {
		@extend %max-width--padded;

		@include breakpoint( bp() ) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__article {
		border-bottom: 1px solid $color__gray;

		@include breakpoint( bp() ) {
			margin-right: gutter();
			padding: 0;
			width: span( 12 of 24 );

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		@include breakpoint( bp( "large" ) ) {
			width: span( 8 of 24 );

			&:nth-of-type(2n) {
				margin-right: gutter();
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}

	&__trigger {
		@extend %button--unstyled;
		color: currentColor;
		display: block;
		padding: {
			top: 1em;
			bottom: 1em;
		}
		position: relative;
		text-align: left;
		width: 100%;

		&:focus {
			outline: none;
		}

		&::after {
			content: "\f431";
			display: block;
			font: {
				family: Genericons;
				size: rem(20px);
			}
			position: absolute;
			right: 0;
			transition: transform 200ms;
			@include centered("vertical");
		}
	}

	&__content {
		display: none;
		opacity: 0;
		padding-bottom: 1em;
		transition: opacity 200ms;

		p {
			margin: {
				top: 0.5em;
				bottom: 0.5em;
			}
		}

		h3 {
			@extend %roboto-medium;
			border-bottom: 1px solid $color__gray--light;
			margin: {
				top: 1em;
				bottom: 0.5em;
			}
		}

		ul {
			list-style: square;
			margin-left: 16px;
		}
	}

	/** Mobile Open State */

	&__article.open {

		.careers__trigger::after {
			transform: translate( 0, -50% ) rotate( 180deg );
		}

		.careers__content {
			opacity: 1;
		}
	}

	/** Mobile "Closing" State */

	&__article.close {

		.careers__trigger::after {
			transform: translate( 0, -50% );
		}

		.careers__content {
			opacity: 0;
		}
	}
}



/** Careers Page Boilerplate */

.careers__page-boilerplate {
	@extend %max-width;
	background-color: $color__gray--light;

	&__container {
		@extend %max-width--padded;
		padding: {
			top: 2rem;
			bottom: 2rem;
		}
	}
}
