/*
 * Image replacement
 */
%ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	/* IE 6/7 fallback */
	*text-indent: -9999px;

	&:before {
		content: "";
		display: block;
		height: 150%;
		width: 0;
	}
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
%visuallyhidden,
%assistive {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	/*
	 * Extends the .visuallyhidden class to allow the element to be focusable
	 * when navigated to via the keyboard: h5bp.com/p
	 */
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

%clearfix {
	&:before,
	&:after {
		content: '';
		display: table;		
	}

	&:after {
		clear: both;
	}
}

%clear-ul-formatting {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

%fullscreen {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

%meta-date {
	color: $gray;
	font-style: italic;
}

%wrapper {
	margin: 0 auto;
	max-width: ce(1000px, $default-font-size);
	width: 95%;
}

%category-label {
	color: $blue;
	font-size: ce(16px);
	font-weight: $bold;
	margin-right: 1ex;
	text-transform: uppercase;
}

%category-tag {
	background-color: mix(#fff, $blue, 33%);
	border-radius: $border-radius;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;

	@include hover-state {
		background-color: $blue;
	}
}