@mixin appearance($appearance) {
	-webkit-appearance: $appearance;
	-moz-appearance: $appearance;
	appearance: $appearance;
}

@mixin hover-state {
    &:hover, &:active, &:focus {
        @content;
    }
}

@mixin modernizr($test) {
    html.#{$test} & {
        @content;
    }
}

@mixin highlight($adjustment: 0) {
	$color-test: rgba(255, 0, 255, 0.2);
	background-color: adjust-hue($color-test, $adjustment * 1deg);
}
