/* ==========================================================================
   Breakpoint settings
   ========================================================================== */

$breakpoint-to-ems: true;
$hidpi: min-resolution 1.5dppx;

$bp-navigation: 550px;
$bp-small: 321px;
$bp-medium: 600px;
$bp-large: 1600px;


/* ==========================================================================
   Susy settings
   ========================================================================== */

$susy: (
	columns: 24,
	container: $bp-large,
	gutters: 1/3,

	// debug: (
	// 	image: show
	// )
);
