/* ==========================================================================
   Breakpoint settings
   ========================================================================== */

$breakpoint-to-ems: true;
$bp-navigation: 500px;
$bp-medium: 600px;
$bp-large: 1000px;


/* ==========================================================================
   Susy settings
   ========================================================================== */

$susy: (
	columns: 24,
	container: 1000px,
	gutters: 1/3
);
