/* ==========================================================================
   Breakpoint settings
   ========================================================================== */

$container-width: 1000px;

$breakpoint-to-ems: true;
$hidpi: min-resolution 1.5dppx;

$bp-navigation: 550px;
$bp-footer: 740px;
$bp-small: 321px;
$bp-medium: 600px;
$bp-large: $container-width;


/* ==========================================================================
   Susy settings
   ========================================================================== */

$susy: (
	columns: 24,
	container: $container-width,
	gutters: 1,

	// debug: (
	// 	image: show
	// )
);
