/* ==========================================================================
   Site Context
   ========================================================================== */

$site-context: 1200px;

$colors: (
	'gray--light':		#e9e9e9,
	'gray':				#bcbec0,
	'black':			#222,
	'white':			#fff,
	'blue':				#00aeef,
	'magenta':			#d10457
);

// Colors
// 
// Color palette. Use the Sass function indicated to call it. Example:
// 
//     .selector {
//         background-color: color( 'blue' );
//     }
// 
// Markup:
// <div style="background:#e9e9e9; padding: 1rem;">color( 'gray--light' ): #e9e9e9</div>
// <div style="background:#bcbec0; color: #fff; padding: 1rem;">color( 'gray' ): #bcbec0</div>
// <div style="background:#222; color: #fff; padding: 1rem;">color( 'black' ): #222</div>
// <div style="background:#fff; padding: 1rem;">color( 'white' ): #fff</div>
// <div style="background:#00aeef; color: #fff; padding: 1rem;">color( 'blue' ): #00aeef</div>
// <div style="background:#d10457; color: #fff; padding: 1rem;">color( 'magenta' ): #d10457</div>
// 
// Styleguide: Colors

@function color( $color ) {
	@return map-get( $colors, $color );
}
