.entry-content {
	line-height: 2;
	margin-bottom: 2em;
	max-width: rem( 600px );

	h1 {
		@extend %roboto-thin;
		font-size: em( 40px );
		line-height: 1;
		margin-bottom: 0.25em;
	}

	h2 {
		@extend %roboto-medium;
		font-size: em( 12px );
		margin-bottom: 1em;
		text-transform: uppercase;
	}
}
