.headline {
	background-color: transparentize( $color__white, 0.1 );
	padding: 1em;

	// Bump the font size up responsively

	@include breakpoint( bp() ) {
		font-size: rem( 14px );
	}

	&__title {
		@extend %roboto-thin;
		font-size: em( 20px );
		line-height: 1;
		margin-bottom: 0.25em;
	}

	// Vertical centering

	&__container {
		@include centered( "vertical" );
	}
}
