.headline {
	@extend %roboto-medium;
	background-image: linear-gradient(
		to top,
		transparentize( $color__white, 0.1 ) 0,
		transparentize( $color__white, 0.2 ) 33.33333%,
		transparentize( $color__white, 1 ) 100%
	);
	font-size: em( 12px );
	line-height: 1.2;
	padding: 0 1em;
	text: {
		shadow: 1px 1px 0 transparentize( $color__white, 0.5 );
		transform: uppercase;
	}

	// Bump the font size up responsively

	@include breakpoint( bp() ) {
		font-size: rem( 14px );
	}

	&__title {
		margin-bottom: 0.25em;
	}

	// Align to the bottom

	&__container {
		bottom: 0;
		padding-bottom: 1em;
		position: absolute;
	}
}
