/* ==========================================================================
   Breakpoint settings
   ========================================================================== */

// $container-width: 1600px;
$container-width: 1200px + 90px * 2;

$breakpoint-to-ems: true;
$hidpi: min-resolution 1.5dppx;

$bp-small: 321px;
$bp-medium: 600px;
$bp-marge: 1000px; // HT @kurtroberts
$bp-large: $container-width;
$bp-xlarge: $container-width + 30px;


/* ==========================================================================
   Breakpoint List
   ========================================================================== */

$breakpoints: (
	400px,
	600px,
	1000px,
	1200px
);

// @function bp( $breakpoint ) {

// 	@if length( $breakpoints ) < $breakpoint {
// 		@error "There is no value for the given index.";
// 	}

// 	@return nth( $breakpoints, $breakpoint );
// }


/* ==========================================================================
   Susy settings
   ========================================================================== */

$susy: (
	columns: 24,
	container: $container-width,
	gutters: 1,

	// debug: (
	// 	image: show
	// )
);
