.agency {
	&__intro {
		@extend %clearfix;
		font-size: ce(16px);
		margin-bottom: 3rem;
		@include breakpoint($bp-large) {
			@include span(16);
		}
	}

	&__left,
	&__right {
		@include breakpoint($bp-medium) {
			@include span(12);
		}

		h2 {
			font-size: ce(12px);
			font-weight: $normal;
			text-transform: uppercase;
		}
	}

	&__left {
		margin-bottom: 1.5em;
	}

	&__right {
		@include breakpoint($bp-medium) {
			@include last;
		}
	}
}
