.agency__intro {
	font-size: ce(16px);
	@include breakpoint($bp-large) {
		@include span(16);
	}
}

.agency__left,
.agency__right {
	@include breakpoint($bp-medium) {
		@include span(12);
	}

	h2 {
		font-size: ce(12px);
		font-weight: $normal;
		text-transform: uppercase;
	}
}

.agency__right {
	@include breakpoint($bp-medium) {
		@include last;
	}
}
