.blog {
	@extend %side-padding;
	margin-bottom: 3rem;
	@include container;

	// &__entry-header {
	// 	@extend %side-padding;
	// }

	&__primary {
		@include breakpoint($bp-large / 2) {
			@include span(16);
		}
	}

	&__secondary {
		// @extend %side-padding;
		border-top: 1px solid map-get($gray_map, light);
		margin-top: 3rem;
		padding-top: 3rem;

		@include breakpoint($bp-large / 2) {
			border: none;
			margin: 0;
			padding: 0;
		}

		@include breakpoint($bp-large / 2) {
			@include span(8 last);
		}
	}

	&__entry-meta {
		@extend %roboto-light-gray;
	}

	&__thumbnail {
		margin-bottom: 2rem;
	}

	&__entry-content {
		padding: 0;
	}

	/**
	 * Author
	 */
	&__author {
		&__header {
			margin-bottom: 1em;
			@include container;
		}

		&__name {
			margin-bottom: 0.5em;
		}

		// &__image {
		// 	@include span(24 / 3);
		// }

		// &__meta {
		// 	@include span( (24 / 3 * 2) last);
		// }

		&__bio {
			margin-bottom: 3rem;
		}

		&__posts {
			h2 {
				@extend %roboto-medium-black;
				font-size: ce(12px);
				margin-bottom: 1em;
				text-transform: uppercase;
			}

			ul {
				list-style: none;
				margin: 0;
			}

			li {
				margin-bottom: 0.5em;
			}
		}
	}

	&__back {
		@extend %back;
		padding: 0;
	}

	/**
	 * Fix grid system for paragraphs on the blog page
	 */
	.entry-content__container {
		@include breakpoint($bp-large) {
			@include span(12);
		}

		// @include breakpoint(1200px) {
		// 	columns: 2;
		// 	column-gap: 4em;
		// }
	}

	/**
	 * Social Media sharing
	 */
	&__social-media {
		// @extend %side-padding;
		clear: both;
		margin-bottom: 2em;
	}

	/**
	 * comments area
	 */
	// .comments-area {
	// 	@extend %side-padding;
	// }
}


/**
 * Blog Listing
 */
.blog-listing {

	/**
	 * Styling
	 */
	&__headline {
		@extend %roboto-medium-black;
		font-size: ce(12px, 12px);
		text-transform: uppercase;
	}

	&__byline {
		@extend %roboto-light-gray;
		margin-bottom: 1em;
	}

	/**
	 * Layout
	 */
	@extend %side-padding;
	@include container;

	&__article {
		margin-bottom: 3rem;

		@include breakpoint($bp-medium) {
			margin-bottom: 0;
			@include span(24/3);

			&:last-child {
				@include last;
			}
		}
	}
}



/**
 * Widget Area
 */
.blog-archive-widget-area {
	@extend %side-padding;
	@include container;

	aside {
		@include breakpoint($bp-medium) {
			@include gallery(24/2);
		}

		@include breakpoint(1600px) {
			@include gallery(24/3);
		}
	}
}
