/**
 * Capabilities
 */
.capabilities {
	@extend %clearfix;

	@include bp(medium) {
		background-image: url("../images/grid-bg-light.gif");
		box-shadow: inset 0 0 20px transparentize(#000, 0.6);
		padding: 2em;
	}

	> div {
		border: 1px solid $black;
		margin-bottom: 1em;
		padding: 10px;

		@include bp(medium) {
			background-color: rgba(255, 255, 255, 0.8);
			margin-bottom: 0;
			width: 50%;

			&.think {
				float: left;
			}

			&.make {
				border-left-width: 0;
				float: right;
				margin-top: 14em;
			}

			&.do {
				border-top-width: 0;
				clear: left;
				float: left;
			}
		}
	}

	li.child {
		margin-left: 1em;
	}
}
