.page-careers .site-content {
	max-width: none;
}

.careers {
	@extend %wrapper;
	margin-top: 3em;

	&__header {
		border-bottom: 1px solid map-get($gray_map, light);
		margin-bottom: 3em;
		padding-bottom: 1em;
	}

	&__header--section {
		border-bottom: 1px solid map-get($gray_map, light);
		margin-bottom: 3em;

		&.no-bottom-margin {
			border-bottom: none;
			margin-bottom: 0;
		}

		h1,
		h2 {
			font: {
				size: ce(12px);
				weight: $medium;
			}
			line-height: 3;
			text-transform: uppercase;
		}
	}

	&__header--article {

		h2 {
			font: {
				size: ce(22px);
			}
			margin-bottom: 1em;
		}
	}

	&__title {
		margin-bottom: 0.5em;
	}

	&__summary {
		color: map-get($gray_map, normal);
	}

	&__secondary-copy {
		@extend %wrapper;
		margin-bottom: 3em;
		margin-top: 3em;
	}

	&__entry-content--larger {
		font-size: ce(16px);

		@include breakpoint($bp-medium) {
			@include span(16 of 24);
		}
	}

	&__tagline {
		color: map-get($gray_map, normal);
		font-size: ce(16px);
	}

	&__details {
		ul {
			margin: 0 0 3em 1em;
		}
	}

	&__back {
		line-height: 5;

		&::before {
			content: '<\00A0';
		}
	}

	/**
	 * Layout
	 */
	&__row {
		@include container;
	}

	&__article {
		@include breakpoint($bp-medium) {
			@include gallery(12);
		}

		@include breakpoint($bp-large) {
			@include gallery(8);
		}
	}

	@include breakpoint($bp-medium) {
		&__details {
			@include span(16);
		}
	}

	@include breakpoint($bp-medium) {
		&__sidebar {
			@include span(8 last);
		}
	}
}
