.page-careers .site-content {
	max-width: none;
}

.page__hero-image {
	height: cr(500px);
	position: relative;

	@include breakpoint($bp-large) {
		height: auto;
		position: static;
	}
}

.careers {
	@extend %wrapper;
	margin-top: 3em;

	&__header--section {
		border-bottom: 1px solid map-get($gray_map, light);
		margin-bottom: 3em;

		h1 {
			font: {
				size: ce(12px);
				weight: $medium;
			}
			line-height: 3;
			text-transform: uppercase;
		}
	}

	&__header--article {

		h2 {
			font: {
				size: ce(22px);
			}
			margin-bottom: 1em;
		}
	}

	&__summary {
		color: map-get($gray_map, normal);
	}

	&__secondary-copy {
		@extend %wrapper;
		margin-bottom: 3em;
		margin-top: 3em;
	}

	/**
	 * Layout
	 */
	&__row {
		@include container;
	}

	&__article {
		@include breakpoint($bp-medium) {
			@include gallery(12 of 24);
		}

		@include breakpoint($bp-large) {
			@include gallery(8 of 24);
		}
	}
}
