.case-study {
	&__entry-header,
	&__section {
		margin: ce(70px) 0;
		@include container;
	}

	&__entry-header {

		@include breakpoint($medium) {
			h1 {
				font-size: ce(36px);
			}
		}

		p {
			margin: 0;
		}
	}

	&__section {
	}

	&__subhead {
		font-weight: $medium;
		margin-bottom: 1.5em;
		text-transform: uppercase;
	}

	&__content {
		@include span(24 / 2);
	}


	&--single__entry-content--indented {
		margin-bottom: 6rem;
		margin-top: 3rem;
		@include breakpoint($bp-large / 2) {
			padding-right: 0;
			@include span(percentage(1420px / 2840px));
			margin-right: 0;
		}

		&--full-width {
			@include breakpoint($bp-large / 2) {
				@include span(percentage( 1420px * 2 / 2840px ) );
				margin-right: 0;
			}
		}
	}

	.hero {
		clear: both;
	}


	// Related Work
	&__related-work {
		list-style-type: none;
		margin: 0;
		@include container;
	}

	&__related-work-item {
		@include breakpoint($bp-medium) {
			@include span((24/3) of 24);

			&:last-child {
				@include last;
			}
		}

		img {
			display: block;
			margin-bottom: 1rem;
		}
	}

	h2 {
		margin-bottom: 1rem;
	}
}
