.case-study {
	&__entry-header,
	&__section {
		margin: ce(70px) 0;
		@include container;
	}

	&__entry-header {

		@include breakpoint($medium) {
			h1 {
				font-size: ce(36px);
			}
		}

		p {
			margin: 0;
		}
	}

	&__section {
	}

	&__subhead {
		font-weight: $medium;
		margin-bottom: 1.5em;
		text-transform: uppercase;
	}

	&__content {
		@include span(24 / 2);
	}


	&--single__entry-content--indented {
		@include breakpoint($bp-large / 2) {
			@include span(percentage(940px / 3200px));
			@include pre(percentage(660px / 3200px));
		}
	}

	.hero {
		clear: both;
	}
}
