.contact__info {
	@include container;

	> div {
		@include gallery(12 of 24);

		@include breakpoint($bp-medium) {
			@include gallery(8 of 24);
		}

		@include breakpoint($bp-large) {
			@include gallery(6 of 24);
		}
	}

	h2 {
		@extend %section-header;
		margin-bottom: 1em;
	}

	&__email,
	&__phone-fax-numbers,
	&__fact-sheet-link {
		font-weight: $regular;
	}

	&__social {
		li a {
			border: 1px solid $blue;
			border-radius: 0;
			color: $blue;
			margin: 0.25em 8px 0.25em 0;
		}

		li:last-child a {
			margin-right: 0;
		}
	}
}
