.contact__info {
	@extend %side-padding;
	margin-bottom: 2rem;
	@include container;

	> div {
		margin-bottom: 1rem;
		@include gallery(12 of 24);

		@include breakpoint($bp-medium) {
			@include gallery(8 of 24);
		}

		@include breakpoint($bp-large) {
			@include gallery(6 of 24);
		}
	}

	h2 {
		@extend %section-header;
		margin-bottom: 1em;
	}

	&__email,
	&__phone-fax-numbers,
	&__fact-sheet-link {
		font-weight: $regular;
	}

	&__social {
		li a {
			margin: {
				top: 0.25em;
				bottom: 0.25em;
			}
		}

		li:last-child a {
			margin-right: 0;
		}
	}
}

// .contact__form {
// 	input[type="text"],
// 	input[type="url"],
// 	input[type="email"] {
// 		width: 90%;
// 	}

// 	@include breakpoint($bp-medium) {
// 		.form-left,
// 		.form-right {
// 			@include span(12 of 24);
// 		}

// 		.form-right {
// 			@include last;
// 		}
// 	}
// }

.contact__map {
	position: relative;

	&__container {
		height: cr(300px);
		// margin-bottom: 3rem;
		width: 100%;

		@include breakpoint($bp-medium) {
			height: cr(608px);
		}

		// Fixes distorted zoom controls in Google maps
		img {
			max-width: none;
		}
	}

	&__inset {
		background-color: #fff;
		border: 1px solid #ccc;
		display: none;
		left: 10%;
		padding: 1rem;
		position: absolute;
		top: 10%;

		@include breakpoint($bp-medium) {
			display: block;
		}
	}
}
