/**
 * Entry Content
 */
.entry-meta {
	margin-bottom: 1em;
}

.entry-content {
	@extend %side-padding;
	margin-bottom: 3rem;
	@include container;

	&__container {
		@include breakpoint($bp-large) {
			@include span(16);
		}
	}

	h1 {
		margin-bottom: 0.5em;
	}
}

@import "posts";

@import "news";

@import "blog";

@import "agency";

@import "asides";

@import "comments";

@import "contact";

@import "case-study";

@import "careers";
