/**
 * News Archives & Single Page
 * (common properties)
 */
.category-news,
.category-careers {

	.entry-title {
		color: $blue;
		line-height: 1;
		text-transform: none;
	}

	.entry-date {
		@extend %meta-date;
	}
}

/**
 * News Archives
 */
body.category-news,
body.page-careers {

	.post {
		min-height: 175px;

		@include rem(margin-bottom, 30px);

		> a {
			background: url('../images/bg_lines.gif') repeat-x top left;
			border: 1px solid $gray-light;
			padding: ce(30px, $default-font-size) cp(20px, 960px) ce(4px, $default-font-size);
		}

		.entry-featured-image {
			text-align: center;
		}

		.entry-title {
			font-size: ce(19px, $default-font-size);
		}

		.entry-footer {
			text-align: right;
		}

		/**
		 * Layout
		 */
		@include bp(medium) {
			> a {
				@include griddr-row;
			}

			.entry-featured-image {
				@include griddr(3);
			}

			.entry-wrapper {
				@include griddr(9);
				@include griddr-last;
			}
		}

	} // .post

} // .category-news

/**
 * News Single Page
 */
.post.category-news {

	.entry-title {
		font-size: ce(36px, $default-font-size);
	}

	.entry-footer {
		padding-top: 1em;

		.entry-categories {
			@extend %category-label;
		}

		a[rel="category tag"] {
			@extend %category-tag;
		}
	}
}


/**
 * Category Adjustment
 */
body.page-careers .post .entry-wrapper {
	float: none;
	width: 100%;
}
