// Work
%work__container {
	@extend %side-padding;
	margin: {
		left: auto;
		right: auto;
	}
	max-width: $container-width;
}

.work {

	a {
		position: relative;
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}

	&__headline {
		background-color: transparentize(#fff, 0.1);
		bottom: 0;
		color: $black;
		left: 0;
		padding: 1em;
		position: absolute;
		right: 0;

		@include breakpoint($bp-medium) {
			right: 50%;

			.work__half & {
				right: 0;
			}
		}

		@include breakpoint($bp-marge) {
			right: 75%;

			.work__half & {
				right: 50%;
			}
		}

		h1 {
			font-size: 1.5em;

			@include breakpoint($bp-medium) {
				font-size: ce(30px);
			}
		}
	}

	&__full-width {
		@extend %work__container;
	}




	// Layout
	&__container {
		@extend %work__container;
	}

	&__container--half {
		display: flex;
		align-items: stretch;
	}

	// min-width: 600px
	@include breakpoint($bp-medium) {
		&__container {
			display: flex;
		}

		&__half,
		&__container--half {
			width: 50%;
		}

		&__container--half {
			display: block;
			position: relative;
		}

		&__quarter {
			height: 50%;
			position: absolute;
			width: 50%;

			.work__set:nth-child(odd) & {
				&:nth-child(1) {
					bottom: auto;
					left: auto;
					right: 0;
					top: 0;
				}

				&:nth-child(2) {
					bottom: 0;
					left: 0;
					right: auto;
					top: auto;
				}
			}

			.work__set:nth-child(even) & {
				&:nth-child(1) {
					bottom: auto;
					left: 0;
					right: auto;
					top: 0;
				}

				&:nth-child(2) {
					bottom: 0;
					left: auto;
					right: 0;
					top: auto;
				}
			}
		}
	}
}
