%work__container {
	// $container-width: 1000px;

	margin: {
		left: auto;
		right: auto;
	}
	max-width: $container-width;
}

.work {

	a {
		position: relative;
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}

	&__headline {
		background-color: transparentize(#fff, 0.1);
		bottom: 0;
		color: $black;
		left: 0;
		padding: 1em;
		position: absolute;
		right: 0;

		@include breakpoint($bp-medium) {
			right: 50%;
		}

		@include breakpoint($bp-marge) {
			right: 75%;
			top: 75%;
		}

		h1 {
			font-size: 1.5em;

			@include breakpoint($bp-medium) {
				font-size: ce(30px);
			}
		}
	}

	&__full-width {
		@extend %work__container;
	}

	&__half {
		@include breakpoint($bp-medium) {
			width: 50%;
		}

		.work__headline {
			@include breakpoint($bp-medium) {
				right: 0;
				top: auto
			}

			@include breakpoint($bp-marge) {
				right: 50%;
				top: 75%;
			}
		}
	}

	&__quarter {
		width: 50%;
	}

	&__container {
		@extend %work__container;

		@include breakpoint($bp-medium) {
			align-items: stretch;
			display: flex;
		}

		&--half {

			@include breakpoint($bp-medium) {
				align-items: stretch;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				width: 50%;
			}

			&--inner {
				align-items: stretch;
				display: flex;
				width: 100%;

				@include breakpoint($bp-medium) {
					height: 50%;
				}
			}
		}
	}

	&__blank,
	&__gray {
		width: 50%;
	}

	&__gray {
		background-color: #b9b9b9;
	}
}
