%work__container {
	// $container-width: 1000px;

	margin: {
		left: auto;
		right: auto;
	}
	max-width: $container-width;
}

.work {

	img {
		height: auto;
		width: 100%;
	}

	&__full-width {
		@extend %work__container;
	}

	&__half {
		width: 50%;
	}

	&__quarter {
		width: 50%;
	}

	&__container {
		@extend %work__container;
		align-items: stretch;
		display: flex;

		&--half {
			align-items: stretch;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			width: 50%;

			&--inner {
				align-items: stretch;
				display: flex;
				height: 50%;
				width: 100%;
			}
		}
	}

	&__blank,
	&__gray {
		width: 50%;
	}

	&__gray {
		background-color: #b9b9b9;
	}
}
