.menu.page-about {
	@extend %clear-ul-formatting;

	border: 1px solid $gray-light;
	display: flex;
	justify-content: space-around;
	width: 100%;

	a {
		border-bottom: 3px solid transparent;
		display: block;
		font-family: $roboto;
		font-size: ce(18px);
		font-weight: 700;
		padding: 0.5em 0;
		text-decoration: none;
		text-transform: uppercase;

		@include hover-state {
			color: $blue;
			border-bottom: 3px solid $blue;
		}
	}
}
