.blog-header {
	background-color: $color__gray--light;
	height: rem( 74px );

	@include breakpoint( bp() ) {
		height: rem( 150px );
	}

	&__skip-link {
		@extend %assistive;
		@extend %assistive--focusable;
	}

	&__container {
		@extend %max-width;
		height: 100%;
		overflow: hidden;
		position: relative;

		/** Fade Out the Edges */
		@extend %blog-header-fadeout;

		a {
			height: 100%;
			left: 50%;
			position: absolute;
			transform: translate( -50%, 0 );
		}

		img {
			height: 100%;
			max-width: none;
			width: auto;
		}
	}
}
