.single-blog__related {
	@extend %max-width--blog;
	margin-bottom: 2em;

	@include breakpoint( bp() ) {
		display: flex;
	}

	&__post {
		background-color: $color__blue;
		margin-bottom: 2em;
		overflow: hidden;

		@include breakpoint( bp() ) {
			margin: {
				right: gutter();
				bottom: 0;
			}
			width: span(8);

			&:last-child {
				margin-right: 0;
			}
		}

		&__featured-image {
			@include aspect-ratio( 4, 3 );

			img {
				height: 100%;
				max-width: none;
				width: auto;
				@include centered( "both" );
			}
		}

		&__label {
			color: $color__white;
			line-height: 1.5;
			padding: 1em;
		}
	}

	// Make sure the fallback image fills the space
	img[src*="blog-fallback-image.jpg"] {
		width: 100%;
	}
}
