.blog-search {
	background-color: transparentize( $color__white, 0.05 );
	bottom: 0;
	color: mix( black, $color__gray, 50% );
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	transition: opacity 200ms;
	top: 100%;
	visibility: hidden;
	z-index: 1000;

	&.open {
		opacity: 1;
		top: 0;
		visibility: visible;
	}

	&.close {
		opacity: 0;
		top: 0;
		visibility: visible;
	}

	&__wrapper {
		@extend %max-width--blog;
		height: 100%;
		overflow: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}

	&__container {
		@extend %max-width--padded;
		padding: {
			top: 2rem;
			bottom: 2rem;
		}
		position: relative;
	}

	&__header {
		@extend %roboto-medium;
		font-size: rem(12px);
		text-transform: uppercase;
		margin-bottom: 1em;
	}

	&__list {

		li {
			border-bottom: 1px solid $color__gray;
			margin-bottom: 1em;
			padding-bottom: 1em;

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}

			a.block {
				display: flex;
				text-decoration: none;

				.link {
					text-decoration: none;
				}
			}

			.blog-search__photo {
				flex-grow: 0;
				margin-right: gutter();
				width: span( 4 of 12 );

				img {
					display: block;
					width: 100%;
				}
			}

			.blog-search__details {
				width: span( 8 of 12 );
			}
		}
	}

	/** Close Button */

	&__close {
		@extend %genericon;
		@extend %genericon-close;
		@extend %button--unstyled;
		height: 32px;
		overflow: hidden;
		position: absolute;
		right: 2.08333%;
		text-indent: 100%;
		top: 2rem;
		width: 32px;

		&::before {
			bottom: 0;
			display: block;
			left: 0;
			line-height: 32px;
			position: absolute;
			right: 0;
			text: {
				align: center;
				indent: 0;
			}
			top: 0;
		}
	}

	/** Form */

	form {
		margin: {
			top: 2rem;
			bottom: 2rem;
		}

		.screen-reader-text {
			@extend %assistive;
		}

		label {
			display: flex;
			width: 100%;

			&::before {
				@extend %genericon;
				@extend %genericon-search;
				color: $color__blue;
				flex-grow: 0;
				font-size: rem(32px);
				height: auto;
				line-height: ( 35 / 32 );
				width: auto;
			}
		}

		.search-field {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: transparent;
			border-radius: 0;
			border-width: 0 0 1px 0;
			border-color: $color__blue;
			flex-grow: 1;
			font-size: 1rem;
		}
	}

	/** Suggested Search */

	&__suggestions {
		@extend %roboto-medium;
		font-size: rem(12px);
		margin-left: 32px;
		text-transform: uppercase;
	}

	/** Search Results */

	&__results {
		@extend %roboto-medium;
		display: none;
		font-size: rem(12px);
		margin-left: 32px;
		opacity: 0;
		text-transform: uppercase;
		transition: opacity 200ms;

		&.open {
			display: block;
			opacity: 1;
		}
	}

	/** No results */

	&__no-results {
		display: none;
		margin-left: 32px;
		opacity: 0;
		transition: opacity 200ms;

		&.open {
			display: block;
			opacity: 1;
		}
	}
}

/** Prevent the <body> from scrolling when search is open */
body.search-open {
	overflow: hidden;
	position: fixed;
	width: 100%;
}

/** If we have a saved search state, hide the suggestions */
body.search-saved .blog-search__suggestions {
	display: none;
}
