.blog__author {
	@extend %max-width--blog;
	margin-bottom: 2em;

	/** On the blog author's archive page, give a little more separation
		between the author's name and his photo/bio */

	.author.archive & {
		margin-top: 2em;
		max-width: none;
	}

	@include breakpoint( bp() ) {
		display: flex;
	}

	&__header {
		margin-right: gutter();

		@include breakpoint( bp() ) {
			width: span( 8 of 24 );
		}

		img {
			height: auto;
			max-width: 100%;
		}
	}

	&__bio {
		font-size: em( 14px );

		@include breakpoint( bp() ) {
			width: span( 16 of 24 );
		}

		p {
			line-height: 1.5;

			@include breakpoint( bp() ) {
				
				.author.archive & {
					margin-top: 0;
				}
			}
		}

		a {
			font-weight: $font-weight__bold;
		}

		ul {
			list-style-type: none;
			margin: 0;
		}
	}
}
