/* ==========================================================================
   Blog Modifications
   ========================================================================== */

%max-width--blog {
	margin: {
		right: auto;
		left: auto;
	}
	max-width: rem( 720px );
}

/* ==========================================================================
   Blog Header
   ========================================================================== */

@import "blog-header";


/* ==========================================================================
   Blog - Related
   ========================================================================== */

@import "blog-related";


/* ==========================================================================
   Blog - Comments
   ========================================================================== */

@import "blog-comments";


/* ==========================================================================
   Blog Author
   ========================================================================== */

@import "blog-author";


/* ==========================================================================
   Blog Interstitial
   ========================================================================== */

@import "blog-interstitial";


/* ==========================================================================
   Blog Loading Indicator
   ========================================================================== */

@import "blog-loading-indicator";


/* ==========================================================================
   Blog Footer
   ========================================================================== */

@import "blog-footer";


/* ==========================================================================
   Blog Search
   ========================================================================== */

@import "blog-search";


/* ==========================================================================
   Blog Header & Interstitial Fade Outs
   ========================================================================== */

%blog-header-fadeout {

	@include breakpoint( 1200px ) {

		&::before,
		&::after {
			bottom: 0;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			width: rem( 150px );
			z-index: 1;
		}

		&::before {
			background-image: linear-gradient( to right, $color__gray--light, transparentize( $color__gray--light, 1 ) );
			left: 0;
		}

		&::after {
			background-image: linear-gradient( to left, $color__gray--light, transparentize( $color__gray--light, 1 ) );
			right: 0;
		}
	}
}
