.blog__white-paper {
	background-color: get_color( 'blue' );
	color: get_color( 'white' );

	&__container {
		@extend %max-width;

		&__inner {
			@extend %max-width--blog;
			padding: 2em 1em;
			position: relative;

			@include breakpoint( 740px ) {
				padding: {
					left: 0;
					right: 0;
				}
			}
		}
	}

	h2 {
		@extend %roboto-bold;
	}

	input[type="email"] {
		background-color: mix( white, get_color( "blue" ), 90% );
		margin-bottom: 1em;
		max-width: 100%;

		&:focus {
			background-color: get_color( "white" );
		}
	}

	input[type="submit"] {
		border-color: get_color( "white" );
		color: get_color( "white" );

		@include hover-state {
			background-color: get_color( "white" );
			color: get_color( "blue" );
		}
	}

	.wpcf7-response-output {
		background-color: transparent;
		border: none;
		padding: 0;
	}

	&__title {
		margin-bottom: 1em;

		@include breakpoint( bp( 'medium' ) ) {
			width: span(17);
		}
	}

	&__image {
		margin-bottom: 1em;

		@include breakpoint( bp( 'medium' ) ) {
			position: absolute;
			right: 1em;
			top: 2em;
			width: span(7);

			img {
				float: right;
				max-width: 150px;
				width: 100%;
			}
		}

		@include breakpoint( 740px ) {
			right: 0;
		}
	}

	&__content {

		@include breakpoint( bp( 'medium' ) ) {
			width: span(17);
		}
	}

	&__form {

		@include breakpoint( bp( 'medium' ) ) {
			width: span(17);
		}
	}
}
