/* ==========================================================================
   Blog Modifications
   ========================================================================== */

%max-width--blog {
	margin: {
		right: auto;
		left: auto;
	}
	max-width: rem( 720px );
}

/* ==========================================================================
   Blog Header
   ========================================================================== */

@import "blog-header";


/* ==========================================================================
   Blog - Related
   ========================================================================== */

@import "blog-related";


/* ==========================================================================
   Blog - Comments
   ========================================================================== */

@import "blog-comments";


/* ==========================================================================
   Blog Author
   ========================================================================== */

@import "blog-author";


/* ==========================================================================
   Blog Interstitial
   ========================================================================== */

@import "blog-interstitial";


/* ==========================================================================
   Blog Loading Indicator
   ========================================================================== */

@import "blog-loading-indicator";


/* ==========================================================================
   Blog Footer
   ========================================================================== */

@import "blog-footer";


/* ==========================================================================
   Blog Search
   ========================================================================== */

@import "blog-search";


/* ==========================================================================
   Blog Header & Interstitial Fade Outs
   ========================================================================== */

%blog-header-fadeout {

	@include breakpoint( 1200px ) {

		&::before,
		&::after {
			bottom: 0;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			width: rem( 150px );
			z-index: 1;
		}

		&::before {
			background-image: linear-gradient( to right, $color__gray--light, transparentize( $color__gray--light, 1 ) );
			left: 0;
		}

		&::after {
			background-image: linear-gradient( to left, $color__gray--light, transparentize( $color__gray--light, 1 ) );
			right: 0;
		}
	}
}


/* ==========================================================================
   Blog Copy Permalink
   ========================================================================== */

.sd-social-icon .sd-content ul li[class*='share-'].share-link a.sd-button {
	background-color: $color__blue;
	color: $color__white !important;
	top: -4px;
	padding: 6px;
}

.sd-social-icon .sd-content ul li[class*='share-'] a {
	border-radius: 0 !important;
}

.sd-social-icon .sd-content ul li.share-link {
	position: relative;
}

.sd-social-icon .sd-content ul li.share-link::after {
	@extend %roboto-medium;
	background-color: $color__black;
	color: $color__white;
	display: none;
	font-size: rem(12px);
	line-height: 1;
	padding: 5px;
	position: absolute;
	right: 5px;
	text-transform: uppercase;
	white-space: nowrap;
}

.sd-social-icon .sd-content ul li.share-link.tooltip::after {
	display: block;
}

.sd-social-icon .sd-content ul li.share-link.tooltip--success::after {
	content: "Copied Permalink";
}

.sd-social-icon .sd-content ul li.share-link.tooltip--failure::after {
	content: "CMD-C to Copy Permalink";
}

.sd-social-icon .sd-content ul li.share-link a::before {
	content: "\f107";
	font-size: rem(20px);
}






