.blog-header {
	background: $color__gray--light url("../images/header-blog-background.jpg") repeat-y center center;

	@include breakpoint( $hidpi ) {
		background: {
			image: url("../images/header-blog-background@2x.jpg");
			size: 1200px auto;
		}
	}

	&__skip-link {
		@extend %assistive;
		@extend %assistive--focusable;
	}

	&__container {
		@extend %max-width;
		overflow: hidden;
		position: relative;

		/** Fade Out the Edges */
		@extend %blog-header-fadeout;

		.building-opportunity-container {
			text-align: center;

			a[rel="home"] {
				align-items: center;
				display: inline-flex;
				font: {
					size: rem(24px);
					weight: 900;
				}
				height: 100%;
				justify-content: center;
				position: relative;
				text: {
					align: center;
					transform: uppercase;
				}
				z-index: 1;

				@include breakpoint( bp() ) {
					font-size: rem(48px);
				}

				@include breakpoint( bp( "large" ) ) {
					font-size: rem(72px);
				}

				&::after {
					border: 1px dashed $color__magenta;
					border-radius: 100%;
					content: "";
					display: block;
					height: 200px;
					left: 50%;
					position: absolute;
					top: 50%;
					transform: translate( -50%, -50% );
					width: 200px;
					z-index: -1;

					@include breakpoint( bp() ) {
						height: 320px;
						width: 320px;
					}
				}

				.building {
					color: transparentize( mix( black, $color__blue, 5% ), 0.1 );
					display: inline-block;
					margin-bottom: 16px;

					@include breakpoint( bp() ) {
						margin-bottom: 32px;
					}

					@include breakpoint( bp( "large" ) ) {
						margin-bottom: 50px;
					}
				}

				.opportunity {
					background-color: transparentize( mix( black, $color__blue, 5% ), 0.1 );
					color: $color__gray--light;
					display: inline-block;
					font: {
						style: italic;
						weight: 700;
					}
					line-height: 1;
					margin-top: 16px;
					padding: 0 5px;

					@include breakpoint( bp() ) {
						margin-top: 32px;
						padding: 0 10px;
					}

					@include breakpoint( bp( "large" ) ) {
						margin-top: 50px;
					}
				}
			}
		}

		img {
			height: 100%;
			max-width: none;
			width: auto;
			@include centered( "horizontal" );
		}
	}


/* ==========================================================================
   Sub Header (back to main site & search)
   ========================================================================== */

	&__sub-header {
		box-sizing: content-box;
		height: rem(40px);
		width: 100%;

		&::after {
			background-color: transparentize( $color__gray--light, 1 );
			border-bottom-color: transparentize( $color__gray, 1 );
			bottom: 0;
			content: "";
			display: block;
			height: rem(40px);
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: background-color 250ms linear,
				border-bottom-color 250ms linear;
			z-index: 10;
		}

		@include breakpoint( bp() ) {

			&.fixed::after {
				background-color: transparentize( $color__gray--light, 0.1 );
				border-bottom: 1px solid transparentize( $color__gray, 0.1 );
				bottom: auto;
				position: fixed;
			}

			&.fixed .blog-header__sub-header__container {
				bottom: auto;
				height: rem(40px);
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 15;
			}
		}

		&__container {
			@extend %max-width;
			height: 100%;
		}

		&__inner {
			@extend %max-width--padded;
			display: flex;
			height: 100%;
			position: relative;
			z-index: 20;

			> * {
				align-items: center;
				display: flex;
				flex: 1;
				height: 100%;
			}
		}
	}

	&__search {
		justify-content: flex-end;
	}

	.search__trigger {
		@extend %button--unstyled;
	}
}
