.site-blog__interstitial {
	background-color: $color__gray--light;
	padding: {
		top: 2em;
		bottom: 2em;
	}

	&__container {
		@extend %max-width;
	}

	&__wrapper {
		@extend %max-width--padded;
	}

	&__container {
		@extend %max-width--blog;
	}

	p {
		margin: {
			top: 1em;
			bottom: 1em;
		}
	}

	a {
		font-weight: $font-weight__bold;
	}

	/** Subscription Form */

	#mc4wp-form-1 {
		display: table;
		width: 100%;
	}

	form {
		display: table-row;
	}

	label {
		padding-right: 1em;
	}

	.form-table { 
		display: table;
		width: 100%;
	}

	.form-row {
		display: table-row;
	}

	.form-cell {
		display: table-cell;

		&.subscribe-label {
			max-width: 40px;
		}

		&.submit-button {
			vertical-align: bottom;
		}

		&.block-mobile {
			display: block;

			@include breakpoint( bp() ) {
				display: table-cell;
			}
		}
	}
	
	input[type="email"] {
		@extend %roboto-normal;
		font-size: 1rem;
		line-height: 1rem;
		margin-right: 0.2em;
		margin-top: 0.5em;
		vertical-align: baseline;
		@include appearance(none);
		width: 100%;
	}
}
