.single-blog__related {
	@extend %max-width--blog;
	margin-bottom: 2em;

	@include breakpoint( bp() ) {
		display: flex;
	}

	&__post {
		margin-bottom: 2em;

		@include breakpoint( bp() ) {
			margin: {
				right: gutter();
				bottom: 0;
			}
			width: span(8);

			&:last-child {
				margin-right: 0;
			}
		}

		&__label {
			background-color: $color__blue;
			color: $color__white;
			line-height: 1.5;
			padding: 1em;
		}
	}
}
