.blog-header {
	background: $color__gray--light url("../images/header-blog-background.jpg") repeat-y center center;
	height: rem( 175px );

	@include breakpoint( $hidpi ) {
		background: {
			image: url("../images/header-blog-background@2x.jpg");
			size: 1200px auto;
		}
	}

	&__skip-link {
		@extend %assistive;
		@extend %assistive--focusable;
	}

	&__container {
		@extend %max-width;
		height: 100%;
		overflow: hidden;
		position: relative;

		/** Fade Out the Edges */
		@extend %blog-header-fadeout;

		a[rel="home"] {
			height: 100%;
			position: relative;

			.building-opportunity-container {
				align-items: center;
				display: flex;
				font: {
					size: rem(24px);
					weight: 900;
				}
				height: 100%;
				justify-content: center;
				position: relative;
				text: {
					align: center;
					transform: uppercase;
				}
				z-index: 1;

				@include breakpoint( bp() ) {
					font-size: rem(48px);
				}

				@include breakpoint( bp( "large" ) ) {
					font-size: rem(72px);
				}

				&::after {
					border: 1px dashed $color__magenta;
					border-radius: 100%;
					content: "";
					display: block;
					height: 200px;
					left: 50%;
					position: absolute;
					top: 50%;
					transform: translate( -50%, -50% );
					width: 200px;
					z-index: -1;

					@include breakpoint( bp() ) {
						height: 320px;
						width: 320px;
					}
				}

				.building {
					color: transparentize( mix( black, $color__blue, 5% ), 0.1 );
					display: inline-block;
					margin-bottom: 16px;

					@include breakpoint( bp() ) {
						margin-bottom: 32px;
					}

					@include breakpoint( bp( "large" ) ) {
						margin-bottom: 50px;
					}
				}

				.opportunity {
					background-color: transparentize( mix( black, $color__blue, 5% ), 0.1 );
					color: $color__gray--light;
					display: inline-block;
					font: {
						style: italic;
						weight: 700;
					}
					line-height: 1;
					margin-top: 16px;
					padding: 0 5px;

					@include breakpoint( bp() ) {
						margin-top: 32px;
						padding: 0 10px;
					}

					@include breakpoint( bp( "large" ) ) {
						margin-top: 50px;
					}
				}
			}
		}

		img {
			height: 100%;
			max-width: none;
			width: auto;
			@include centered( "horizontal" );
		}
	}

	&__sub-header {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		z-index: 10;
		height: rem(40px);
		transition: background-color 250ms linear;

		@include breakpoint( bp() ) {
			&::before {
				left: 0;
				right: 0;
				top: 0;
				height: rem(40px);
				content: "";
				display: block;
				z-index: -1;
				background-color: transparent;
				transition: background-color 250ms linear;
			}

			&.fixed {

				.blog-header__sub-header__container {
					@extend %max-width;
					align-items: center;
					display: flex;
					height: rem(35px);
					margin: {
						right: 0 !important;
						left: 0 !important;
					}
					position: fixed;
					top: 0;
					width: 100%;
					z-index: 100;
				}

				&::before {
					background-color: $color__gray--light;
					position: fixed;
					z-index: 99;
				}
			}
		}

		&.fixed {
			.blog-header__sub-header__container {
				width: 100%;
			}
		}
	}

	&__search {
		display: none;
	}
}
