.site-header {
	height: rem( 74px );

	@include breakpoint( bp() ) {
		height: rem( 100px );
	}

	&__skip-link {
		@extend %assistive;
		@extend %assistive--focusable;
	}

	&__container {
		@extend %max-width;
		height: 100%;

		&__inner {
			@extend %max-width--padded;
			height: 100%;
		}
	}



	/** Logo */

	&__site-title .logo {
		display: block;
		height: 28px;
		width: 40px;

		path {
			fill: color( 'blue' );
		}
	}


	/** Mobile navigation trigger */

	&__menu-open {
		@extend %genericon;
		@extend %genericon-menu;
		@extend %ir;
		font-size: rem( 28px );
		height: rem( 28px );
		line-height: rem( 28px );
		width: rem( 28px );

		@include breakpoint( 568px ) {
			display: none;
		}
	}


	/** Navigation */

	&__site-navigation {

		a:not(.arrow) {
			@extend %roboto-medium;
			text: {
				decoration: none;
				transform: uppercase;
			}

			@include hover-state {
				color: color( 'blue' );
			}
		}

		/** Desktop */

		&--desktop {
			color: color( 'black' );
			font-size: rem( 13px );

			.current-menu-item a {
				color: color( 'blue' );
			}

			.site-header__site-navigation--auxiliary {

				a {
					@extend %roboto-normal;
				}
			}
		}

		/** Mobile */

		&--mobile {
			background-color: transparentize( color( 'white' ), 0.05 );
			bottom: 0;
			font-size: rem( 20px );
			left: 0;
			opacity: 0;
			position: fixed;
			right: 0;
			top: 100%;
			transition: opacity 200ms;
			visibility: hidden;
			z-index: 1000;

			@include breakpoint( 568px ) {
				display: none;
			}

			&.open {
				opacity: 1;
				top: 0;
				visibility: visible;
			}

			&.close {
				opacity: 0;
				top: 0;
				visibility: visible;
			}

			.mobile-navigation.menu--vertical {
				display: flex;
				flex-direction: column;
				height: 100vh;
				justify-content: center;

				li {
					text-align: center;

					a {
						padding: {
							top: 1em;
							bottom: 1em;
						}
					}
				}
			}
		}

		.mobile-nav__close {
			top: 21px;
		}
	}


	/** Layout */

	&__table {
		display: table;
		height: 100%;
		width: 100%;
	}

	&__table-row {
		display: table-row;
	}

	&__table-cell {
		display: table-cell;
		vertical-align: middle;

		&:nth-child(1) {
			padding-right: 2em;
		}

		&:nth-child(2) {
			text-align: right;
			width: 100%;
		}
	}

	&__site-navigation {

		&--desktop {
			display: none;

			@include breakpoint( 568px ) {
				align-items: center;
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
