/**
 * Global panel properties
 */

.panel {
	clear: both;
	margin: {
		right: auto;
		left: auto;
	}
	max-width: rem( 1600px );
}

/**
 * Full-width Image Panel
 */

@import "full-width-image-panel";

/**
 * Half-width Image Panel
 */

@import "half-width-image-panel";

/**
 * Six-Up Image Panel
 */

@import "six-up-image-panel";
