.six-up-image-panel {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	width: 100%;

	&__image {
		margin-top: -1px;
		overflow: hidden;
		width: 50%;

		picture {
			background-color: $black;
			bottom: 0;
			padding-bottom: percentage( 150px / 160px );
			position: relative;
			top: 0;
			width: percentage( 800px / 300px ); // original image dimensions

			@include breakpoint( $bp-medium ) {
				padding-bottom: 0;
			}

			img {
				bottom: 0;
				height: 100%;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: auto;

				@include breakpoint( $bp-medium ) {
					position: static;
				}
			}
		}

		&:nth-child( odd ) picture {
			transform: translate( -400px, 0 );
		}
	}
}
