.six-up-image-panel {
	clear: both;

	&__row {
		display: flex;
		flex-wrap: wrap;

		&:nth-child( even ) {
			flex-direction: column-reverse;

			@include breakpoint( $bp-medium ) {
				flex-direction: row;
			}
		}
	}

	&__image {
		width: 100%;

		@include breakpoint( $bp-medium ) {
			width: 50%;
		}

		img {
			height: auto;
			width: 100%;
		}
	}
}
