.chapter {

	&__wrapper {
		@include container;
		@include side-padding;
	}


	/** Introduction */

	&--introduction {

		@include breakpoint( $bp-medium ) {

			.introduction__contact {
				@include span( 3 );
			}

			.chapter__intro-paragraph {
				@include span( 8 at 5 last );
			}
		}
	}

	/** Chapter 1 */

	&--1 {

		@include breakpoint( $bp-medium ) {

			.chapter__header {
				@include pre( 9 );
			}

			p {
				width: span( 8 );
			}
		}
	}

	&--2 {

		@include breakpoint( $bp-medium ) {

			.chapter__header {
				float: left;
			}

			.chapter__subsection {
				@include pre( 3 );
				width: span( 8 );
			}
		}
	}

	&--3 {

		@include breakpoint( $bp-medium ) {
			
			.chapter__header {
				@include span( 2 at 10 isolate );
			}

			.chapter__subsection {
				@include span( 8 );
			}
		}
	}
}
