nav[role="navigation"] {
	$height: 58px;

	@extend %fullscreen;
	z-index: 20;

	@include bp(medium) {
		bottom: auto;
	}

	.menu-open {
		@extend %clear-button-formatting;

		background: $blue linear-gradient( to top, mix( #000, $blue, 20% ), mix( #fff, $blue, 20% ) );
		border-radius: 3px;
		color: #fff;
		font-size: ce(13px, $default-font-size);
		margin: 5px;
		padding: 5px;
		text-transform: uppercase;

		@include bp(medium) {
			display: none;
		}
	}

	a[rel="home"],
	.main-nav {
		display: none;

		@include bp(medium) {
			display: block;
		}
	}

	a[rel="home"] {
		@extend %ir;
		float: left;

		.home & {
			display: none;
		}
	}

	.main-nav {
		@extend %clearfix;

		@include bp(medium) {
			height: cr($height);
		}
	}

	ul {
		@extend %clear-ul-formatting;
		@extend %clearfix;
		@extend %fullscreen;
		align-content: stretch;
		align-items: stretch;
		background-color: $black;
		display: flex;
		flex-direction: column;
		z-index: 30;

		@include bp(medium) {
			background-color: $blue;
			flex-direction: row;
			height: 100%;
			position: static;
			z-index: auto;
		}
	}

	li {
		flex: 1;
		position: relative;

		a {
			// border-bottom: 1px solid transparentize( #fff, 0.2 );
			color: #fff;
			display: block;
			height: 100%;
			padding-left: 10px;
			position: absolute;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			vertical-align: middle;
			width: 100%;

			@include bp(medium) {
				line-height: cr($height);
			}

			@include hover-state {
				background-color: #fff;
				color: $blue;
			}
		}
	}

	.menu-close {
		@extend %clear-button-formatting;
		@extend %ir;

		position: absolute;
		right: 0;
		top: 0;
		z-index: 40;

		@include bp(medium) {
			display: none;
		}

		&::after {
			color: #fff;
			content: '\f405';
			display: block;
			font-family: Genericons;
			font-size: ce( 36px, $default-font-size );
		}
	}
}
