html {
	background-color: $blue-light;
}

/**
 * Content margins
 */
.wrapper {
	margin: 0 cp(10px, $context-small);

	@include bp(medium) {
		margin: 0 cp(10px, $context-medium);
	}

	@include bp(large) {
		margin: 0 cp(15px, $context-large);
	}
}

/**
 * Panel Headers (in the background and results panels)
 */
.panel-header {
	margin-bottom: 1em;
}


/**
 * Data points (in the background and results panels)
 */
.data-point {
	margin-bottom: 1em;
}


/**
 * Set maximum picture & image width to 100% so they don't
 * overflow their containers
 */
img,
picture {
	height: auto;
	max-width: 100%;
}

/**
 * Ditto, iframe
 */
iframe {
	height: auto;
	max-width: 100%;
}
