$data-point-icons: (
	"situation":	0 0,
	"insight":		0 -48px,
	"campaign":		0 -96px,
	"outcome":		0 -144px
);

.data-point {
	margin-left: 28px;
	position: relative;

	&:before {
		background: url("../images/sprites.png") no-repeat;
		content: "";
		display: block;
		height: 23px;
		left: -28px;
		position: absolute;
		top: -3px;
		width: 23px;

		@include retina {
			background-image: url("../images/sprites@2x.png");
			background-size: 23px auto;
		}
	}

	@each $point, $coords in $data-point-icons {
		&.#{$point}:before {
			background-position: $coords;
		}
	}
}
