$related: (
	"ripleys", "wolf-trap", "ns", "wawf"
);

.related {
	border: solid $blue-rp3;
	border-width: 2px 0 8px;
	padding: 1em 0;

	h2 {
		@extend %RobotoMedium;
		margin-bottom: 1em;
		text-align: center;
		@include font-size(18px);
	}

	li {
		margin-bottom: 1em;

		a {
			@extend %ir;

			background-repeat: no-repeat;
			display: block;
			height: 171px;
			margin: 0 auto;
			width: 171px;
		}

		@each $case-study in $related {
			&.#{$case-study} a {
				background-image: url("/case-studies/images/#{$case-study}.png");

				@include retina {
					background-image: url("/case-studies/images/#{$case-study}@2x.png");
					background-size: 170px auto;
				}
			}
		}
	}
}
