/**
 * Author
 */
.blog__author {
	@extend %clearfix;
	background-color: mix(#fff, $gray-light, 50%);
	margin-bottom: 2em;

	&:last-child {
		margin-bottom: 0;
	}

	&__header {
		@include container;

		@include breakpoint(800px) {
			margin-bottom: 1em;
		}
	}

	&__name {
		margin-bottom: 0.5em;
	}

	&__image {
		img {
			width: 100%;
		}
	}

	&__bio {
		padding: 1em;
	}

	&__posts {
		margin-bottom: 1.5em;

		h2 {
			@extend %roboto-medium-black;
			font-size: ce(12px);
			margin-bottom: 1em;
			text-transform: uppercase;
		}

		ul {
			list-style: none;
			margin: 0;
		}

		li {
			margin-bottom: 0.5em;
		}
	}

	&__social {
		margin-top: 1em;
	}
}

/** Layout Adjustments for Author Archive Page */

.archive.author .blog__author {

	&::before,
	&::after {
		display: none;
	}

	@include breakpoint( bp( 2 ) ) {
		display: flex;

		&__header {
			margin: {
				right: gutter();
				left: 0;
			}
			width: span( 8 );
		}

		&__bio {
			max-width: rem( 500px );
			padding-left: 0;
			width: span( 16 );
		}
	}

	@include breakpoint( 800px ) {

		&__header {
			margin-bottom: 0;
		}
	}
}
