.component {
	margin: {
		right: auto;
		left: auto;
	}
	max-width: rem( 1200px );

	&--padded {
		@include side-padding( "new" );
	}
}

/**
 * Global Components
 */

@import "hero-image";

/**
 * Agency Page
 */


@import "leadership";


@import "clients";


// @import "awards";





/**
 * News/Views Page
 */


// Search form
// section.search-form {
// 	@extend %clearfix;
// 	@extend %side-padding;
// 	margin-bottom: 3rem;
// 	@include container;

// 	label {
// 		display: block;
// 		float: left;
// 		width: 100%;

// 		@include breakpoint($bp-large/2) {
// 			width: span(16 of 24);
// 		}
// 	}

// 	.search-field {
// 		box-sizing: border-box;
// 		display: inline-block;
// 		font-size: cr(16px);
// 		padding: 10px;
// 		width: 100%;

// 		&:focus {
// 			box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
// 			outline: none;
// 		}
// 	}

// 	.search-submit {
// 		background: {
// 			color: transparent;
// 			image: url("../images/search.png");
// 			position: center 11px;
// 			repeat: no-repeat;
// 		}
// 		border: 0;
// 		display: block;
// 		float: left;
// 		margin-left: -50px;
// 		overflow: hidden;
// 		padding: 17px 10px 16px;
// 		text-indent: 200%;
// 		white-space: nowrap;
// 		width: 50px;

// 		@include hover-state {
// 			background-color: transparent;
// 		}
// 	}
// }


// Mailchimp
.mc_merge_var {
	margin-bottom: 1rem;
}

#mc_signup_form {
	.mc_var_label {
		display: block;
		margin-bottom: 0.5rem;
	}

	.mc_input {
		width: 50%;
	}
}

.mc_signup_submit {
	text-align: left;
}

/**
 * Work Main Image Content
 */
@import "work/work-main-content__image";
