/**
 * Header Auxiliary
 */
%header-aux {
	@extend %genericon;
	@extend %ir;
	border-radius: 100%;
	display: block;
	height: 32px;
	margin: 0 8px;
	text-decoration: none;
	transition: background-color 0.1s linear;
	width: 32px;

	@include hover-state {
		background-color: $blue;
	}

	&:before {
		font-size: ce(18px);
		line-height: 32px;
		text-align: center;
		width: auto;
	}
}

.header-aux {
	display: none;

	@include bp(medium) {
		display: table-cell;
		text-align: right;
		vertical-align: middle;
		width: 48px * 4;
	}

	.menu-header-auxiliary-container {
		float: right;
	}

	ul {
		@extend %clear-ul-formatting;
	}

	li {
		float: left;

		a {
			@extend %header-aux;

			background-color: mix(#fff, $gray, 60%);
			color: #fff;
		}

		@each $social in facebook, twitter, linkedin, search {
			&.#{$social} a {
				@extend %genericon-#{$social};
			}
		}
	}

	.search-toggle {
		@extend %header-aux;
		@extend %genericon-search;

		color: mix(#fff, $gray, 60%);
		float: right;
		transition: color 0.1s linear;

		@include hover-state {
			color: #fff;
		}
	}
}
