header[role="banner"] {
	@extend %clearfix;
	background-color: #6b747c;
	font-family: Roboto, sans-serif;
	height: ce(76px);
	margin-bottom: 3px;
	overflow: hidden;
	padding: ce(10px) cp(10px, 320px);
	position: relative;

	@include bp(medium) {
		background-color: #fff;
	}

	/**
	 * Site Branding (.site-branding)
	 */
	
	.site-branding {
		display: flex;

		@include bp(medium) {
			display: block;
			float: left;
		}
	}

	.site-description {
		display: none;
	 	padding-top: 1em;
	}

	.site-description {
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
	}

	.header-aux {
		display: none;

		@include bp(medium) {
			display: block;
			margin-top: -16px;
			position: absolute;
			right: 3.125%;
			top: 50%;
		}

		ul {
			@extend %clear-ul-formatting;
		}

		li {
			float: left;

			a {
				@extend %genericon;
				@extend %ir;

				background-color: mix(#fff, $gray, 60%);
				border-radius: 100%;
				color: #fff;
				display: block;
				height: 32px;
				margin: 0 8px;
				text-decoration: none;
				transition: background-color 0.1s linear;
				width: 32px;

				@include hover-state {
					background-color: $blue;
				}

				&:before {
					font-size: ce(18px);
					line-height: 32px;
					text-align: center;
					width: auto;
				}
			}

			@each $social in facebook, twitter, linkedin {
				&.#{$social} a {
					@extend %genericon-#{$social};
				}
			}

			&:last-of-type a {
				margin-right: 0;
			}
		}
	}

	.menu-open {

		border-left: 1px solid mix(#fff, $gray, 20%);
		color: #fff;
		display: block;
		font-size: ce(24px);
		height: 100%;
		line-height: ( 76px / 24px );
		position: absolute;
		right: 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		top: 0;
		width: 90px;

		&:before {
			width: auto;
		}

		&.use-genericons {
			@extend %genericon;
			@extend %genericon-menu;
			@extend %ir;
			font-size: ce(36px);
			height: ce(76px, 36px);
			line-height: ( 76px / 36px );
			text-align: center;
			width: 90px;

			&:before {
				width: auto;
			}
		}

		@include hover-state {
			background-color: $blue;
		}

		@include bp(medium) {
			display: none;
		}
	}
}

.logo {
	@extend %ir;
	background: {
		image: url("../images/logo-white.svg");
		repeat: no-repeat;
		size: auto 100%;
	}
	display: block;
	height: ce(56px, 30px);
	margin-right: 2ex;
	width: auto;

	@include bp(medium) {
		background-image: url("../images/logo-color.svg");
	}
}
