nav[role="navigation"] {
	@extend %ir;
	background-color: $gray;
	display: none;
	font-family: Roboto, sans-serif;

	@include bp(medium) {
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		display: block;
		position: relative;

		&.fixed {
			left: 0;
			position: fixed;
			right: 0;
			top: 0;

			&:before {
				display: none;
			}
		}
	}

	ul {
		@extend %clear-ul-formatting;

		@include bp(medium) {
			float: left;
			height: 70px;
		}
	}

	li {

		@include bp(medium) {
			float: left;
		}

		a {
			border-bottom: 1px solid mix(#fff, $gray, 20%);
			color: #fff;
			display: block;
			font-size: ce(18px, $default-font-size);
			font-weight: 300;
			padding: 0.5em cp(10px, 640px);
			text-decoration: none;
			text-transform: uppercase;
			transition: background-color 0.1s linear;

			@include hover-state {
				background-color: $blue;
			}

			@include bp(medium) {
				border-bottom: none;
				height: 60px;
				line-height: 60px;
				padding: 0 1ex;
			}
		}
	}

	form {
		@extend %clearfix;
		padding: 1em cp(10px, 640px);

		@include bp(medium) {
			display: none;
		}

		label span {
			@extend %assistive;
		}

		input[type="text"] {
			border: 0;
			float: left;
			font-family: Roboto, sans-serif;
			font-size: ce(18px, $default-font-size);
			font-weight: 300;
			margin-right: 1ex;
			padding: 0.25em;
			width: 60%;
		}

		button {
			@extend %genericon;
			@extend %genericon-search;
			@extend %ir;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: transparent;
			border: none;
			color: #fff;
			display: inline;
			font-size: ce(40px, $default-font-size);
			height: 40px;
			line-height: 40px;
			padding: 0;
			width: 40px;

			&:before {
				width: auto;
			}
		}
	}

	/**
	 * Stupid Logo Tricks
	 */
	.logo {
		background-image: url("../images/logo-white.svg");
		float: left;
		opacity: 0;
		padding: 0.25em 0;
		transition: width 0.5s ease;
		width: 0;
	}

	&.fixed {
		.logo {
			width: auto;
			opacity: 1;
		}
	}
}
