.main-navigation {
	@extend %clearfix;
	@extend %ir;
	background-color: $gray;
	display: none;
	font-family: $roboto;

	@include bp(medium) {
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
		display: block;
		margin-bottom: 2em;
		position: relative;

		&.fixed {

			@include modernizr(no-touch) {
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				z-index: 10;
			}

			&:before {
				display: none;
			}
		}
	}

	.main-nav {
		margin: 0 auto;
		max-width: ce(1280px);
	}

	ul {
		@extend %clear-ul-formatting;

		@include bp(medium) {
			height: 70px;

			&.primary-menu-left {
				float: left;
			}

			&.primary-menu-right {
				float: right;
			}
		}

		@include responsive("min-width: 700px") {
			&.primary-menu-right a {
				font-size: ce(16px);
			}
		}
	}

	li {

		@include bp(medium) {
			float: left;
		}

		a {
			border-bottom: 1px solid mix(#fff, $gray, 20%);
			color: #fff;
			display: block;
			font-size: ce(18px);
			font-weight: $light;
			padding: 0.5em cp(10px, 320px);
			text-decoration: none;
			text-transform: uppercase;

			@include modernizr(touch) {
				font-weight: $normal;
			}

			@include hover-state {
				background-color: $blue;
			}

			@include bp(medium) {
				border-bottom: none;
				height: 70px;
				line-height: 70px;
				padding: 0 12px;
			}

			@include responsive("min-width: 700px") {
				font-size: ce(24px);
			}
		}

		&.current-menu-item a {
			background-color: $blue;
		}
	}

	/**
	 * Stupid Logo Tricks
	 */
	.logo {
		background-image: url("../images/logo-white.svg");
		display: none;
		float: left;
		height: 60px;
		margin: 5px 0 5px 10px;
		width: 83px;
	}
}
