.chapter {
	// margin-bottom: 4rem;

	/** Wrapper */
	&__wrapper {
		background-color: $white;
		padding-top: 1rem;
	}

	&--01 {

		.chapter__wrapper {
			margin-top: rem( -120px );
		}
	}

	/** Chapter Header */

	&__header {
		margin-bottom: 2rem;
	}

	&__label,
	&__number {
		line-height: 1;
	}

	&__label {
		@extend %roboto-bold;
		background-color: $black;
		color: $white;
		padding: 0 0.5em;
		text-transform: uppercase;
	}

	&__number {
		@extend %robotocondensed-bold;
		clear: both;
		font-size: em( 90px );
	}

	&__name {
		@extend %roboto-bold;
		font-size: em( 28px );
		line-height: ( 30px / 28px );
		text-transform: uppercase;
	}

	/** Chapter Content */

	&__intro-paragraph {
		font-size: em( 22px );
		margin-top: 0;
	}

	/** Chapger Subsection */

	&__subsection {

		&__header {
			@extend %robotocondensed-bold;
			font-size: em( 22px );
			margin: {
				top: 2rem;
				bottom: 1rem;
			}
			line-height: ( 30px / 28px );
			padding-bottom: 1rem;
			position: relative;
			text-transform: uppercase;

			&::after {
				background-color: currentColor;
				content: "";
				display: block;
				height: 3px;
				position: absolute;
				top: 100%;
				width: rem( 126px );
			}
		}

		.bullseye {
			float: left;
			height: 41px;
			margin: {
				top: 1em;
				right: 0.5em;
			}
			width: 41px;
		}
	}
}


/**
 * Some special cases with Chapter 01
 */
.chapter--01 {

	&__supertitle {
		@extend %roboto-bold;
		display: inline-block;
		font-size: em( 12px );
		line-height: 1;
		margin-bottom: 1rem;
		position: relative;
		text-transform: uppercase;
		transform: translate( 110%, 0 );

		&::before {
			background-color: currentColor;
			content: "";
			display: block;
			height: 100%;
			left: -110%;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	&__title {
		font-size: em( 44px );
		line-height: ( 50px / 44px );
		margin-bottom: 1rem;
	}

	&__subtitle {
		font-size: em( 28px );
		line-height: ( 50px / 44px );
		margin-bottom: 1rem;
	}

	&__contact {
		font-size: em( 12px );
		margin: {
			top: 1rem;
			bottom: 1rem;
		}
		padding-top: 1rem;
		position: relative;

		&::before {
			background-color: currentColor;
			content: "";
			display: block;
			height: 3px;
			left: 0;
			position: absolute;
			top: 0;
			width: rem( 126px );
		}

		a {
			color: currentColor;
			text-decoration: none;

			@include hover-state {
				text-decoration: underline;
			}
		}
	}
}
