.chapter {
	background: {
		position: 50% 0;
		repeat: no-repeat;
	}
	padding-top: rem( 444px );

	@include modernizr( no-touch ) {
		background-attachment: fixed;
	}

	&--01 {
		background-size: auto rem( 500px );
		padding-top: rem( 500px );
	}
}

@for $i from 1 through 7 {
	.chapter--0#{$i} {
		background-image: url("../images/header-0#{$i}.jpg");
	}
}

// .chapter--1 {
// 	background: {
// 		attachment: fixed;
// 		image: url("http://placehold.it/1300x500/990000");
// 		position: 50% 0;
// 		repeat: no-repeat;
// 	}
// }
