.interstitial {
	@extend %RobotoBoldItalic;

	background-color: $blue-rp3;
	color: #fff;
	margin-bottom: 1em;
	padding: 1em 0;
	text-align: center;
	text-transform: uppercase;

	@include font-size(30px);
}
