/**
 * Import common case study properties
 */
@import "../src/sass/case-studies";

/**
 * WAWF-specific sections and properties
 */

.background {
	picture {
		text-align: center;
	}
}

.interstitial {
	@extend %RobotoBoldItalic;

	background-color: $blue-rp3;
	color: #fff;
	margin-bottom: 1em;
	padding: 1em 0;
	text-align: center;
	text-transform: uppercase;

	@include font-size(30px);
}

.assets {
	margin-bottom: 2em;

	.screens,
	.video {
		margin-bottom: 2em;
	}

	.photo {
		img,
		picture {
			width: 100%;
		}
	}
}

.results {
	img {
		display: block;
		margin: 0 auto;
	}
}