/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	&,
	&:visited {
		color: $blue;
	}

	@include hover-state {
		color: $pink;
	}
}


/**
 * Linked blocks
 */
a.block {
	color: $black;
	display: block;
	text-decoration: none;
}

// Make something _look_ like a link, even if it's not really
// (mostly for "learn more" type copy inside 'blocked' anchors)
.link {
	color: $blue;
	text-decoration: underline;

	a:hover &,
	a:active &,
	a:focus & {
		color: $pink;
	}
}
