/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	&,
	&:visited {
		color: $blue;
	}

	@include hover-state {
		color: $pink;
	}
}


/**
 * Linked blocks
 */
a.block {
	color: $black;
	display: block;
	text-decoration: none;
}
