a {
	&,
	&:visited {
		color: $blue;
	}

	@include hover-state {
		color: $pink;
	}
}


/**
 * Linked blocks
 */
a.block {
	color: $black;
	display: block;
	text-decoration: none;
}

// Make something _look_ like a link, even if it's not really
// (mostly for "learn more" type copy inside 'blocked' anchors)
.link {
	color: $blue;
	text-decoration: underline;

	a:hover &,
	a:active &,
	a:focus & {
		color: $pink;
	}
}

// Add a right-facing caret (er, greater than sign) on "continue" type Links
// (as opposed to "back" type links that get a left-facing caret (er, less than sign))
.continue {
	clear: both;
	display: block;
	font-weight: $medium;
	line-height: 5;
	margin-bottom: 1em;
	text-decoration: none;
	text-transform: uppercase;

	&:after {
		content: ' >';
		display: inline;
	}
}


// "View All" links for news & blogs
.all-news-link {
	margin: {
		top: 3em;
		bottom: 3em;
	}
	text-align: center;
	@include container;

	a {
		@extend %button;
		display: inline-block;
	}
}
