.menu.page-about {
	@extend %clear-ul-formatting;

	border: 1px solid $gray-light;
	font-family: $roboto;
	font-size: ce(18px);
	font-weight: 700;
	margin-bottom: 1.5em;
	text-transform: uppercase;
	width: 100%;

	@include bp(medium) {
		display: flex;
		justify-content: space-around;
		margin: 3em 0;
	}

	a {
		border-top: 1px solid $gray-light;
		display: block;
		padding: 0.5em;
		text-decoration: none;

		@include bp(medium) {
			border-top-width: 0;
			border-bottom: 3px solid transparent;
			padding: 0.5em 0;

			@include hover-state {
				border-bottom-color: $blue;
			}
		}

		@include hover-state {
			color: $blue;
		}
	}

	li:first-child a {
		border-top-width: 0;
	}
}
