.single-blog {

	&__container {
		@extend %clearfix;
		margin: {
			right: auto;
			left: auto;
		}
		max-width: rem( 1600px );
	}

	&__primary {
		max-width: rem( 600px );
		padding: {
			right: percentage( 5px / 320px );
			left: percentage( 5px / 320px );
		}

		@include breakpoint( bp( 2 ) ) {
			padding: {
				right: 0;
				left: 0;
			}
		}
	}

	&__entry-meta,
	&__entry-header,
	&__entry-content,
	&__sharing {
		margin-bottom: 2em;
	}

	&__widget-area {
		background-color: mix(#fff, $gray-light, 50%);
		margin: 2em 0;
		padding: 2em;

		aside {
			float: none;
			margin: 0;
			width: 100%;
		}
	}

	@include breakpoint( bp( 2 ) ) {

		&__entry-content,
		&__sharing,
		&__comments {
			padding: 0;
		}
	}

	&__thumbnail {
		margin-bottom: 3rem;

		picture,
		picture img,
		img {
			height: auto;
			width: 100%;
		}
	}

	/** Layout */
	@include breakpoint( bp( 2 ) ) {

		&__container {
			padding-left: percentage( 5px / 320px );
		}

		&__primary {
			@include span( 15 );
		}

		&__secondary {
			@include span( 9 last );
		}
	}

	// @include breakpoint( bp( 3 ) ) {

	// 	&__primary {
	// 		@include span( 10 );
	// 	}

	// 	&__secondary {
	// 		@include span( 8 last );
	// 	}
	// }
}

@import "../components/blog-author";
