.home-blocks {
	color: $white;
	font-size: rem( 12px );
	margin-top: -1px;
	position: relative;

	a {
		color: currentColor;
	}

	@include breakpoint( bp( 2 ) ) {
		font-size: rem( 14px );
	}

	&__row {
		display: flex;
	}

	&__block {
		min-height: rem( 150px );
		opacity: 0;
		overflow: hidden;
		padding: 1em;
		transition: opacity 1.5s ease-out 0.5s;
		width: 50%;

		@include breakpoint( bp( 2 ) ) {
			min-height: rem( 200px );
		}

		&.active {
			opacity: 1;
		}
	}

	&__general-widget {
		background-color: #445fc2;
	}

	&__twitter {
		background-color: #2ebefa;

		@include breakpoint( bp( 3 ) ) {
			width: 25%;
		}

		ul {
			list-style-type: none;
			margin: 0;
		}
	}

	&__blog--green {
		background-color: #33cd7f;

		@include breakpoint( bp( 3 ) ) {
			width: 25%;
		}
	}

	&__news {
		background-color: #f36d2c;

		@include breakpoint( bp( 3 ) ) {
			width: 25%;
		}
	}

	&__header {
		font-size: em( 16px, 12px );
		margin-bottom: 0.5em;
	}

	&__subhead {
		font-size: em( 7px, 12px );
		font-weight: $bold;
		margin-bottom: 1rem;
		text-transform: uppercase;

		a {
			text-decoration: none;
		}
	}

	&__date,
	.twitter-timestamp {
		font-size: em( 7px, 12px );
	}

	&__row--2 {

		@include breakpoint( bp( 3 ) ) {
			justify-content: space-between;
		}
	}
}
