body.home {

	.site-content {
		margin: 0;
		max-width: none;
		width: 100%;

		&:before,
		&:after {
			display: none;
		}
	}

	article {
		@include container;
	}

	.entry-content {
		font-size: cr(16px);
		padding: ce(70px, 16px) 0;
		@include span(isolate 18 at 4);

		@include breakpoint(730px) {
			@include span(isolate 14 at 6);
		}

		a {
			font-size: ce(12px, 16px);
			font-weight: $medium;
			text-decoration: none;
			text-transform: uppercase;

			&::after {
				content: ' >';
				display: inline;
			}
		}
	}
}

.home-hero,
.home-work {

	a {
		display: block;
		position: relative;
		text-decoration: none;
		width: 100%;
	}

	.headline {
		bottom: 0;
		font-size: cr(11px);
		left: 0;
		padding: ce(30px, 11px) percentage(18px / 250px);
		position: absolute;
		width: 50%;

		@include breakpoint($bp-medium) {
			font-size: cr(12px);
			padding: ce(30px, 12px) percentage(30px / 589px);
		}

		/**
		 * Responsify with breakpoint and susy
		 */
		@include breakpoint($bp-medium) {
			@include span(9 last);
		}

		h1 {
			@include font($roboto, $thin, ce(21px, 11px));

			@include breakpoint($bp-medium) {
				font-size: ce(36px, 12px);
			}
		}

		h1,
		p {
			margin: 0;
		}
	}
}

.home-work {
	margin: {
		left: percentage(90px/1600px);
		right: percentage(90px/1600px);
	}
	position: relative;

	.hero {
		height: cr(400px);
		margin-bottom: 0;
		margin-top: -1px;

		@include breakpoint($bp-medium) {
			left: 0;
			opacity: 0;
			position: absolute;
			top: 100%;
			transition: top 1.5s linear, opacity 2.5s linear 0.5s;
			width: 100%;

			&.active {
				opacity: 1;

				@for $i from 1 through 10 {
					&.active-#{$i} {
						top: cr(600px * ( $i - 1 ) - 1px );
					}
				}
			}
		}

		@include breakpoint($bp-small) {
			height: cr(600px);
		}

		@include breakpoint(1600px) {
			height: auto;
		}
	}

	.home-work-trigger {

		@include breakpoint($bp-medium) {
			position: absolute;

			@for $i from 1 through 10 {
				&.home-work-trigger-#{$i} {
					top: cr(600px * ( $i - 1 ) );
				}
			}
		}
	}

	a {
		height: cr(400px);
		overflow: hidden;
	}

	picture,
	picture img {
		height: auto;
		width: 100%;
	}

	.hero__headline {
		background-color: transparentize(#fff, 0.1);
		color: $black;
		width: 100%;

		@include breakpoint($bp-small) {
			width: 50%;
		}

		@include breakpoint($bp-large / 2) {
			margin: 0;
			width: 33%;
		}
	}
}


.home-errata {
	background-color: #fff;
	font-size: cr(12px);
	margin: {
		left: percentage(90px/1600px);
		right: percentage(90px/1600px);
		top: -1px;
	}
	max-width: $container-width;
	position: relative;

	@include breakpoint($bp-medium) {
		font-size: cr(14px);
	}

	// &__row {
	// 	@extend %clearfix;

	// 	// @include breakpoint($bp-medium) {
	// 	// 	display: flex;

	// 	// 	&:nth-child(2) {
	// 	// 		align-items: flex-end;
	// 	// 	}

	// 	// 	&:nth-child(3) {
	// 	// 		justify-content: space-between;
	// 	// 	}

	// 	// 	// ::before and ::after pseudo-elements interfere
	// 	// 	// with flexbox, so make sure we remove them
	// 	// 	&::before,
	// 	// 	&::after {
	// 	// 		display: none;
	// 	// 	}
	// 	// }
	// }

	&__block {
		color: #fff;
		min-height: 100px;
		overflow: hidden;

		@include breakpoint($bp-medium) {
			min-height: 200px;
		}

		.widget {
			margin-bottom: 0;
		}
	}

	// Adjust the font color of block links
	a.block {
		color: #fff;
		padding: 1rem;

		@include breakpoint($bp-medium) {
			padding: 2rem;
		}
	}

	&__general-widget {
		background-color: #445fc2;
		// width: 50%;
	}

	&__twitter {
		background-color: #2ebefa;
		padding: 2rem;

		ul {
			list-style-type: none;
			margin: 0;
		}
	}

	// &__sandbox {
	// 	background-color: #fbbe31;
	// 	width: 50%;


	// 	@include breakpoint($bp-medium) {
	// 		height: 100px;
	// 		margin-left: 25%;
	// 		margin-right: 12.5%;
	// 		width: 12.5%;
	// 	}
	// }

	// &__blog--gray {
	// 	background-color: #e0eaf0;
	// 	color: $black;
	// 	width: 100%;

	// 	@include breakpoint($bp-medium) {
	// 		width: 50%;
	// 	}

	// 	a.block {
	// 		color: $black;
	// 	}
	// }

	&__blog--green {
		background-color: #33cd7f;
		// float: right;
		// width: 50%;

		// @include breakpoint($bp-medium) {
		// 	float: none;
		// 	width: 25%;
		// }
	}

	&__news {
		background-color: #f36d2c;
		// clear: both;
		// width: 50%;

		// @include breakpoint($bp-medium) {
		// 	width: 25%;
		// }
	}

	&__header {
		font-size: ce(16px, 12px);

		@include breakpoint($bp-medium) {
			font-size: ce(20px, 14px);
		}
	}

	&__subhead {
		font-size: ce(7px, 12px);
		font-weight: $bold;
		margin-bottom: 1rem;
		text-transform: uppercase;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	&__date {
		font-size: ce(7px, 12px);
	}

	&__subhead,
	&__date {
		@include breakpoint($bp-medium) {
			font-size: ce(10px, 14px);
		}
	}

	// Layout with flexbox
	@include breakpoint($bp-small) {
		&__row {
			align-items: stretch;
			display: flex;

			&::before,
			&::after {
				content: '';
				display: table;		
			}

			&::after {
				clear: both;
			}
		}

		&__block {
			width: 50%;
		}
	}

	@include breakpoint($bp-medium) {
		&__row {
			display: block;

			&:last-child {
				.home-errata__block {
					&:first-child {
						clear: none;
						float: left;
					}

					&:last-child {
						clear: none;
						float: right;
					}
				}
			}
		}

		&__block {
			clear: both;

			&:nth-child(even) {
				float: right;
			}
		}
	}

	@include breakpoint(1000px) {
		&__row {
			align-items: stretch;
			display: flex;

			&::before,
			&::after {
				display: none;
			}

			&:last-child {
				justify-content: space-between;
			}
		}

		&__twitter,
		&__blog--green,
		&__news {
			width: 25%;
		}
	}
}


/** Snowflakes. Sometimes literal ones. */

// @import "rptree";

@import "woolly";
