body.home {

	.home-work a.block,
	.hero--home a.block {
		height: 100%;
		position: relative;
	}

	.site-content {
	}
}

.entry-content--home {
	margin-top: 3em;

	a {
		font-size: ce(12px, 16px);
		font-weight: $medium;
		text-decoration: none;
		text-transform: uppercase;

		&::after {
			content: ' >';
			display: inline;
		}
	}
}

@import "blocks";

/** Snowflakes. Sometimes literal ones. */

// @import "rptree";

// @import "woolly";

// @import "wawf";

@import "infinite-possibilities";
