html.no-touch {

	.hero--home--infinite-possibilities {
		height: auto;

		.hero__container {
			position: relative;

			&::before {
				content: "";
				display: block;
				padding-top: percentage( 9 / 16 );
				width: 100%;
			}

			.full-width-image-panel__image__content {
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
			}

			.home-splash__video {
				height: 100%;
				width: auto;
			}
		}

		.hero__headline {

			@include breakpoint( bp( 2 ) ) {
				bottom: auto;
				left: auto;
				opacity: 0;
				right: 0;
				top: 0;
				transition: opacity 500ms linear;
			}

			&.visible {
				opacity: 1;
			}
		}
	}
}
