.hero__image {
	position: relative;
}

html.csstransforms {
	.hero .wrapper {
		z-index: 10;
	}

	.woolly {
		background: {
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		height: (1540px / 2);
		position: absolute;
		transform: rotate(30deg);
		transition: opacity 2000ms ease-in-out;
		width: (1020px / 2);
		z-index: 2;

		&.hidden {
			opacity: 0;
		}

		&.position-1 {
			// top: 16%;
		}

		&.position-2 {
			// top: -37%;
		}

		&.position-3 {
			// top: 73%;
		}

		@each $poster in ( 'cherokee', 'zombie', 'puppet' ) {
			&.#{$poster} {
				background-image: url("../images/woolly/#{$poster}.jpg");
			}
		}
	}
}
