.woolly-hero .hero__image {
	position: relative;
}

html.csstransforms {
	.hero .wrapper {
		z-index: 10;
	}

	.woolly {
		background: {
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		height: (1540px / 2);
		position: absolute;
		top: 50%;
		transition: opacity 2000ms ease-in-out;
		width: (1020px / 2);
		z-index: 2;

		&.hidden {
			opacity: 0;
		}

		&.position-1 {
			right: 50%;
			transform: rotate(30deg) translate(-560px, 83px);
		}

		&.position-2 {
			left: 50%;
			transform: rotate(30deg) translate(176px, -802px);
		}

		&.position-3 {
			left: 50%;
			transform: rotate(30deg) translate(174px, -22px);
		}

		@each $poster in ( 'cherokee', 'zombie', 'puppet' ) {
			&.#{$poster} {
				background-image: url("../images/woolly/#{$poster}.jpg");
			}
		}
	}

	/** Adjustments to the home hero image */
	.woolly-hero {
		@include breakpoint( 1600px ) {
			background-color: #e9eaea;
			height: cr(600px);

			picture img {
				height: cr(600px);
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: auto;
			}
		}
	}
}
