/**
 * Headers (H1, H2, etc.)
 */

h1, h2, h3, h4, h5, h6 {
	clear: both;
	line-height: 1.2;
}

h1 {
	font: {
		size: ce(30px);
		weight: $thin;
	}
}

h2 {
	@extend %roboto-medium-black;
	font-size: rem(12px);
	text-transform: uppercase;
}

%section-header {
	font: {
		size: ce(12px);
		weight: $medium;
	}
	text-transform: uppercase;
}
