.case-study-content {

	&__container {
		width: 100%;
		// @include container;

		@include breakpoint($bp-medium) {
			float: left;
			margin: {
				bottom: 0;
				top: 0;
			}
			padding: 0;
		}

		&--left {
			@extend %side-padding;
			margin: 4rem 0;

			@include breakpoint($bp-medium) {
				margin-bottom: 0;
				@include span(9);
			}
		}

		&--right {
			margin-bottom: 4rem;

			@include breakpoint($bp-medium) {
				margin-bottom: 0;
				@include span(9);
				@include push(3);
			}
		}
	}

	&__subheader {
		margin-bottom: 2.5rem;

		&.related-tags {
			display: none;

			@include breakpoint($bp-medium) {
				display: block;
			}
		}
	}
}

.case-study-hero-image,
.case-study-hero-image-tall {
	clear: both;
}


.work-main-content {

	&__container {
		@extend %side-padding;

		@include breakpoint($bp-medium) {
			float: left;
			width: 50%;
		}

		&__inner {
			margin: {
				top: 7rem;
				bottom: 8rem;
			}
		}
	}
}
