.work-content {

	&__container {
		@extend %side-padding;
		margin-bottom: 7rem;
		margin-top: 8rem;
		@include container;

		@include breakpoint($bp-medium) {
			margin-bottom: 11rem;
		}

		&--left {
			margin-bottom: 4rem;
	
			@include breakpoint($bp-medium) {
				margin-bottom: 0;
				@include span(9);
			}
		}

		&--right {
			margin-bottom: 4rem;
	
			@include breakpoint($bp-medium) {
				margin-bottom: 0;
				@include span(9);
				@include push(3);
			}
		}
	}

	&__subheader {
		margin-bottom: 2.5rem;
	}
}
