.work-main-content__image {
	height: cr(180px);

	@include breakpoint($bp-small) {
		height: cr(338px);
	}

	@include breakpoint($bp-medium) {
		float: right;
		height: cr(450px);
		width: 50%;
	}

	@include breakpoint(1600px) {
		height: auto;
	}

	&__container {
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;

		&__inner {
			height: 100%;
			width: 100%;

			picture {
				display: block;
				height: 100%;
				width: 100%;

				img {
					display: block;
					height: 100%;
					left: 0;
					max-width: 320px;
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					width: auto;

					@include breakpoint($bp-small) {
						max-width: 600px;
					}

					@include breakpoint($bp-medium) {
						max-width: 800px;
					}

					@include breakpoint(1600px) {
						height: auto;
						max-width: none;
						position: static;
						transform: translate(0);
						width: 100%;
					}
				}
			}
		}
	}
}


.work-images--stacked {
	clear: both;
}
