// Clients
.clients {

	&__entry-content {
		@include breakpoint($bp-large / 2) {
			@include span(18 of 24);
		}
	}

	&__content {
		clear: both;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: {
			bottom: 3rem;
			left: 0;
		}
		@include container(2);
	}

	&__client {
		align-items: center;
		background-color: map-get( $gray_map, "light" );
		display: flex;
		margin-bottom: 5px;
		margin-right: 5px;
		padding: 3rem 0;
		width: 50%;

		&:nth-child(2n) {
			margin-right: 0;
		}

		@include breakpoint( bp( 2 ) ) {
			width: 32%;

			&:nth-child(2n) {
				margin-right: 5px;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		// @include breakpoint( bp( 3 ) ) {
		// 	width: 25%;
		// }

		svg {
			fill: $gray;
			margin: {
				right: auto;
				left: auto;
			}
			max-width: 175px;
			path: $gray;
			width: 75%;
		}
	}
}
