// Clients
.clients {

	&__entry-content {
		@include breakpoint($bp-large / 2) {
			@include span(18 of 24);
		}
	}

	&__content {
		clear: both;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: {
			bottom: 3rem;
			left: 0;
		}
	}

	&__client {
		align-items: center;
		display: flex;
		padding: 3rem 0;
		width: 50%;

		@include breakpoint( bp( 2 ) ) {
			width: 33%;
		}

		@include breakpoint( bp( 3 ) ) {
			width: 25%;
		}

		svg {
			fill: $gray;
			margin: {
				right: auto;
				left: auto;
			}
			max-width: 175px;
			path: $gray;
			stroke-opacity: 0;
			width: 75%;
		}
	}
}
