/**
 * Hero images
 */
.hero {
	height: cr(200px);
	margin-bottom: 3rem;

	&.home-hero {
		height: cr(450px);
	}

	@include breakpoint($bp-medium) {
		height: cr(400px);

		&.home-hero {
			height: cr(608px);
		}
	}

	@include breakpoint(1600px) {
		&.home-hero {
			height: auto;
		}
	}

	@include breakpoint($bp-large) {
		height: auto;
	}

	a {
		color: #fff;
		display: block;
		height: 100%;
		text-decoration: none;
	}

	&__container {
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	&__image {
		height: 100%;
		width: 100%;

		picture {
			display: block;
			height: 100%;
			width: 100%;

			img {
				display: block;
				height: 100%;
				left: 50%;
				max-width: 320px;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: auto;

				@include breakpoint($bp-small) {
					height: 100%;
					max-width: 600px;
				}

				@include breakpoint($bp-medium) {
					max-width: 1600px
				}

				@include breakpoint(1600px) {
					height: auto;
					max-width: none;
					position: static;
					transform: translate(0);
					width: 100%;
				}
			}
		}
	}

	// &.home-hero {
	// 	&__image {
	// 		picture {
	// 			img {
	// 				@include breakpoint(1200px) {
	// 					height: auto;
	// 					width: 100%;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	.wrapper {
		bottom: 0;
		left: 0;
		position: absolute;
		margin: {
			left: auto;
			right: auto;
		}
		right: 0;
		top: 0;

		@include breakpoint(1600px) {
			position: relative;
		}
	}

	&__headline {
		background-color: transparentize(#111215, 0.05);
		bottom: 0;
		font-size: cr(11px);
		left: 0;
		padding: ce(30px, 11px) percentage(18px / 250px);
		position: absolute;
		width: 50%;

		@include breakpoint($bp-medium) {
			font-size: cr(12px);
			padding: ce(30px, 12px) percentage(30px / 589px);
			@include span(9);
		}

		@include breakpoint(1600px) {
			margin-left: 5.625%;
		}

		h1 {
			@include font($roboto, $thin, ce(21px, 11px));

			@include breakpoint($bp-medium) {
				font-size: ce(36px, 12px);
			}
		}

		h1,
		p {
			margin: 0;
		}
	}

	// Case Study Hero Images
	&.case-study-hero-image {
		height: cr(120px);

		@include breakpoint($bp-small) {
			height: cr(225px);
		}

		@include breakpoint($bp-medium) {
			height: cr(600px);
		}
	}

	&.case-study-hero-image-tall {
		height: cr(180px);

		@include breakpoint($bp-small) {
			height: cr(337.5px);
		}

		@include breakpoint($bp-medium) {
			height: cr(900px);
		}
	}

	&.case-study-hero-image,
	&.case-study-hero-image-tall {
		margin-bottom: 6rem;

		@include breakpoint(1600px) {
			height: auto;
		}

		picture img {
			height: auto;
		}

		+ .case-study-hero-image {
			margin-top: -6rem;
		}
	}
}


// fixes to get this out the door (shame.css)
.interstitial .hero__image picture img {
	max-width: none;
}

@include breakpoint(1000px) {
	.hero.hero-image.interstitial {
		height: 640px;
	}
}

