.leadership {
	@extend %side-padding;

	/**
	 * Styling
	 */
	&__name {
		font: {
			size: ce(12px);
			weight: $bold;
		}
	}

	&__title {
		font-size: ce(16px);
		margin-bottom: 1em;
	}

	&__biography {
		&--wide {
			@extend %roboto-light-gray;
			display: none;

			@include breakpoint($bp-medium) {
				display: block;
				margin-bottom: 1em;
			}
		}

		&--narrow {
			@extend %roboto-light-gray;
			@include span(24 of 24);

			@include breakpoint($bp-medium) {
				display: none;
			}
		}
	}

	/**
	 * Layout
	 */
	.leadership__container {
		@include container;
	}
	
	.leadership__person {
		@extend %clearfix;

		@include breakpoint($bp-medium) {
			margin-bottom: 2em;
			@include gallery(24 / 3)
		}

		@include breakpoint($bp-large) {
			@include gallery(24 / 4);
		}
	}

	.leadership__photo {
		@include span(12);

		@include breakpoint($bp-medium) {
			margin-bottom: 1em;
			@include span(24);
		}

		img {
			height: auto;
			width: 100%;
		}
	}

	.leadership__content {
		@include span(12 last);

		@include breakpoint($bp-medium) {
			@include span(24);
		}
	}
}
