// Leadership
.leadership {

	/**
	 * Styling
	 */
	&__name {
		font: {
			size: ce(12px);
			weight: $bold;
		}
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__title {
		font-size: ce(16px);
		line-height: 1.5;
		margin-bottom: 1em;
	}

	&__biography {
		&--wide {
			@extend %roboto-light-gray;
			display: none;

			@include breakpoint($bp-medium) {
				display: block;
				margin-bottom: 1em;
			}
		}

		&--narrow {
			@extend %roboto-light-gray;
			@include span(24 of 24);

			@include breakpoint($bp-medium) {
				display: none;
			}

			p {
				margin: 0;
			}
		}
	}

	/**
	 * Layout
	 */
	&__container {
		@include container;
	}
	
	&__person {
		@extend %clearfix;
		margin-bottom: 3rem;
		// @include highlight;

		@include breakpoint($bp-medium) {
			@include gallery(24 / 2)
		}

		// @include breakpoint($bp-large/2) {
		// 	@include gallery(24 / 3)
		// }

		@include breakpoint($bp-marge) {
			@include gallery(24 / 4);
		}
	}

	&__photo {
		@include span(12);
		margin-bottom: 1em;

		@include breakpoint($bp-medium) {
			@include span(24);
		}

		img {
			height: auto;
			width: 100%;
		}
	}

	&__social {
		li {
			margin-bottom: 0.5em;
		}
	}

	&__content {
		@include span(12 last);

		@include breakpoint($bp-medium) {
			@include span(24);
		}
	}
}
