.video {

	// Trigger
	&__trigger {
		position: relative;

		> a::after {
			background-color: transparentize($black, 0.2);
			border: 1px solid #fff;
			border-radius: 2px;
			color: #fff;
			content: '\f452';
			display: block;
			font-family: Genericons;
			font-size: ce(14px);
			height: 26px;
			left: 50%;
			line-height: 26px;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: background-color 200ms linear;
			width: 26px;

			@include breakpoint($bp-medium) {
				font-size: ce(21px);
				height: 46px;
				line-height: 46px;
				width: 46px;
			}
		}

		@include hover-state {
			> a::after {
				background-color: $black;
			}
		}
	}


	// Modal
	&__modal {
		height: 100%;
		left: 0;
		position: absolute;
		opacity: 0;
		top: 0;
		transition: opacity 200ms linear;
		visibility: hidden;
		width: 100%;
		z-index: 1;

		&.visible {
			opacity: 1;
			visibility: visible;
		}

		iframe {
			height: 100%;
			width: 100%;
		}
	}
}
