/* ==========================================================================
   Colors
   ========================================================================== */
$black:			#222; // (ok, it's _almost_ black)
$blue:			#00bbe3;
$pink:			#fe57a1;
$gray:			#6b747c;
$gray-light:	#e3e3e3;


/* ==========================================================================
   Miscellaneous Common Variables
   ========================================================================== */
$border-radius: 3px;
