/* ==========================================================================
   Colors
   ========================================================================== */
$black:		#222; // (ok, it's _almost_ black)
$blue:		#00caff;
$gray:		#6b747c;

/* ==========================================================================
   Font Stacks
   ========================================================================== */
$muli:		Muli, sans-serif;
