/* ==========================================================================
   Colors
   ========================================================================== */
$black:		#222; // (ok, it's _almost_ black)
$blue:		#00caff;

/* ==========================================================================
   Font Stacks
   ========================================================================== */
$muli:		Muli, sans-serif;
