.site-footer {
	@extend %side-padding;
	background-color: $black;
	color: #fff;
	font-size: cr(12px);
	padding: {
		top: cr(70px);
		bottom: cr(95px);
	}
	position: relative;

	@include breakpoint($bp-footer) {
		font-size: cr(14px);
	}

	h1 {
		color: #888;
		font-size: 1em;
		font-weight: $medium;
		text-transform: uppercase;
	}

	a {
		color: #fff;
		text-decoration: none;

		@include hover-state {
			text-decoration: underline;
		}
	}

	&__logo {
		margin-bottom: 2em;

		@include breakpoint($bp-footer) {
			float: left;
		}

		svg {
			height: 21px;
			width: 30px;
		}

		path {
			fill: #fff;
		}
	}

	&__navigation {
		position: absolute;
		right: percentage(25px / 320px);
		top: cr(70px) - 1rem;

		@include breakpoint($bp-footer) {
			float: left;
			position: static;
		}

		ul {
			list-style: none;
			margin: 0;
		}

		li {
			@include breakpoint($bp-footer) {
				float: left;
			}
		}

		a {
			display: block;
			padding: 1em 0;
			text-align: right;
			text-transform: uppercase;

			@include breakpoint($bp-footer) {
				padding: 0 1em;
			}
		}
	}

	&__social {
		margin: 3em 0;

		@include breakpoint($bp-footer) {
			margin: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.menu-social-container {
			text-align: center;
		}

		ul {
			display: inline-block;
			margin: 0;
		}

		li {
			a {
				border-color: #fff;
				color: #fff;
				height: 40px;
				margin: 0 4px;
				width: 40px;

				&:before {
					line-height: 40px;
				}

				@include hover-state {
					background-color: #fff;
					color: $black;
					text-decoration: none;
				}
			}
		}
	}

	&__copyright {
		font-size: ce(12px);
		color: #888;
		text-align: center;

		a {
			color: #888;
		}

		@include breakpoint($bp-footer) {
			bottom: 0;
			position: absolute;
			right: 0;
		}
	}

	&__wrapper {
		@include breakpoint($bp-footer) {
			position: relative;
			@include container;
		}
	}
}
