.site-footer {
	background-color: $gray;
	margin-top: 1em;

	/**
	 * Top Section
	 */

	.top {
		background: #fff url("../images/grid-bg-light.gif");
		border: solid $blue;
		border-width: 3px 0;
		box-shadow:
			inset 0 10px 5px -4px transparentize(#000, 0.8),
			inset 0 -7px 15px -4px transparentize(#000, 0.4);
		padding: 1em 0;

		a {
			color: $blue;
		}
	}

	h1 {
		background-image: url("../images/logo-color.svg");
		background-position: center top;
		margin-bottom: 0.5em;

		@include bp(medium) {
			display: none;
		}
	}

	h2 {
		font-size: ce(24px);
	}

	.left {
		display: none;

		@include bp(medium) {
			display: block;
		}
	}

	.social {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 20px auto;
		max-width: ce(300px);

		@include bp(medium) {
			margin: 0;
			max-width: ce(220px);
		}

		&:before,
		&:after {
			display: none;
		}

		li {
			float: none;

			a {
				background-color: $gray;
				height: 64px;
				width: 64px;

				@include bp(medium) {
					height: 48px;
					margin: 4px;
					width: 48px;
				}

				&:before {
					color: #fff;
					font-size: 37px;
					height: 64px;
					line-height: 64px;
					width: 64px;

					@include bp(medium) {
						font-size: 28px;
						height: 48px;
						line-height: 48px;
						width: 48px;
					}
				}

				&:hover {
					background-color: $blue;
				}
			}
		}
	}

	.fact-sheet {
		font-size: ce(18px);
		font-weight: 700;
	}

	a.email {
		display: block;
		font-size: ce(24px);
		font-weight: 700;
		margin: 1em 0;
		text-align: center;

		@include bp(medium) {
			text-align: left;
		}
	}

	.site-info {
		@extend %wrapper;
	}

	form {
		display: none;

		@include bp(medium) {
			display: block;
			margin-top: 2em;
		}
	}

	/**
	 * Bottom Section
	 */

	.bottom .site-info {
		color: #fff;
		display: block;
		height: ce(175px);
		position: relative;

		@include bp(medium) {
			height: ce(100px);
		}

		a {
			color: #fff;
		}
	}

	.address-phone-combined {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;

		@include bp(medium) {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transform: none;
		}
	}

	.phone {
		@include bp(medium) {
			display: block;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}

		.copyright {
			// font-size: ce(11px);

			@include bp(medium) {
				br {
					display: none;
				}
			}
		}
	}

	.address {
		margin-bottom: 0.5em;
		position: relative;

		@include bp(medium) {
			left: auto;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
		}

		&:before {
			@extend %genericon;
			@extend %genericon-location;
			color: #fc0;
			display: block;
			font-size: ce(48px);
			height: 42px;
			left: -48px;
			line-height: 1;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			width: 42px
		}

		a {
			display: block;
			text-decoration: none;
		}
	}
}


/**
 * Layout
 */
@include bp(medium) {
	div.site-info {
		align-items: stretch;
		display: flex;
		justify-content: space-between;

		.left {
			flex: 1;
			margin-right: cp(50px, 1280px);
		}

		.right {
			flex: 1;
		}
	}
}


/**
 * Mailchimp Form
 */
.mc_merge_var {
	float: left;
}
.mc_var_label {
	@extend .screen-reader-text;
}
.mc_signup_submit {
	text-align: left;
	float: left;
	margin-left: 1em;
}
input[type="text"].mc_input {
	padding: 7px;
	width: 200px;
}
