/**
 * Header Auxiliary
 */
%header-aux {
	margin: 0 8px;

	@include hover-state {
		background-color: $blue;
	}
}

.header-aux {
	display: none;

	@include bp(medium) {
		display: block;
		float: right;
		height: 100%;
		padding: ce(14px) 0;
	}

	.menu-header-auxiliary-container {
		float: right;
	}

	li {

		a {
			@extend %header-aux;
			background-color: mix(#fff, $gray, 60%);
			color: #fff;
		}
	}

	.search-toggle {
		@extend %social;
		@extend %header-aux;
		@extend %genericon-search;

		color: mix(#fff, $gray, 60%);
		float: right;

		@include hover-state {
			color: #fff;
		}
	}
}
