.logo {
	background: {
		image: url("../images/logo-white.svg");
		repeat: no-repeat;
		size: auto 100%;
	}
	display: block;
	// height: ce(56px, 30px);
	overflow: hidden;
	text-indent: 150%;
	white-space: nowrap;
	width: auto;

	@include bp(medium) {
		background-image: url("../images/logo-color.svg");
	}
}
