.mobile-nav {
	background-color: transparentize(#fff, 0.05);
	bottom: 0;
	font-size: ce(22px);
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 1000;

	&__menu {
		margin: 3%;
		position: relative;
	}

	// If you change the transition timing here, make sure
	// you change the setTimeout() timing in rp3.js to the
	// same amount.
	transition: opacity 300ms linear;

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	ul {
		line-height: 2;
		list-style: none;
		margin: 1em 0 0 0;

		a {
			color: $black;
			display: block;
			text-decoration: none;
		}
	}

	&__close {
		@extend %genericon;
		@extend %genericon-close;
		@extend %ir;
		font-size: 32px;
		height: 32px;
		position: absolute;
		right: 0;
		top: 0;
		width: 32px;
	}
}
