.main-navigation {
	@extend %clearfix;
	@extend %ir;
	background-color: map-get($blue_map, "normal");
	border-top: 1px solid transparentize(#fff, 0.8);
	display: none;
	font-family: $roboto;
	// height: ce(40px);
	margin: 0 auto;
	max-width: ce(1000px);
	position: absolute;
	width: 100%;
	z-index: 1;

	@include bp(medium) {
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
		display: block;
		margin-bottom: 2em;
		margin-top: 0;
		position: relative;

		// &.fixed {

		// 	@include modernizr(no-touch) {
		// 		left: 0;
		// 		position: fixed;
		// 		right: 0;
		// 		top: 0;
		// 		z-index: 10;
		// 	}

		// 	&:before {
		// 		display: none;
		// 	}
		// }

		body.home & {
			margin-bottom: 0;
		}
	}

	ul {
		@extend %clear-ul-formatting;

		@include bp(medium) {
			height: ce(40px);

			&.primary-menu-left {
				float: left;
			}

			&.primary-menu-right {
				float: right;
			}
		}
	}

	li {

		@include bp(medium) {
			float: left;
		}

		a {
			border-bottom: 1px solid transparentize(#fff, 0.8);
			color: #fff;
			display: block;
			font-size: ce(14px);
			font-weight: $bold;
			margin-right: 1px;
			padding: 0.5em cp(10px, 320px);
			text-decoration: none;
			text-transform: uppercase;

			@include modernizr(touch) {
				font-weight: $normal;
			}

			@include hover-state {
				background-color: $blue;
			}

			@include bp(medium) {
				border-bottom: 4px solid transparent;
				height: ce(40px);
				line-height: ce(40px);
				margin: 0 12px;
				padding: 0;

				@include hover-state {
					border-bottom-color: map-get($blue_map, "darker");
				}
			}
		}

		&.current-menu-item a {
			border-bottom-color: map-get($blue_map, "darker");
		}
	}

	/**
	 * Stupid Logo Tricks
	 */
	.logo {
		background-image: url("../images/logo-white.svg");
		display: none;
		float: left;
		height: ce( 40px * 0.67 );
		margin: 5px 0 5px 10px;
		// width: 83px;
	}
}
