/**
 * Search Form
 */
.search-form {
	.screen-reader-text {
		@extend %assistive;
	}

	input[type="search"] {
		border: 0;
		float: left;
		font-family: Roboto, sans-serif;
		font-size: 1em;
		font-weight: 300;
		margin-right: 1ex;
		padding: 0.25em 0.75em;
		width: 60%;
	}

	button[type="submit"] {
		@extend %genericon;
		@extend %genericon-search;
		@extend %ir;

		background: none;
		border: none;
		color: #fff;
		display: inline;
		font-size: ce(25px);
		height: 25px;
		line-height: 25px;
		padding: 0;
		width: 25px;

		@include appearance(none);

		&:before {
			width: auto;
		}
	}

	.close {
		@extend %ir;
		@extend %genericon;
		@extend %genericon-close;
		height: 20px;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 20px;

		&:before {
			color: #fff;
			font-size: ce(20px);
			line-height: 20px;
			text-align: center;
			text-decoration: none;
		}
	}

	.site-header & {
		background-color: $blue;
		bottom: 0;
		display: none;
		padding: 20px 15px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.main-navigation & {
		padding: 1em cp(10px, 320px);

		@include bp(medium) {
			display: none;
		}
	}
}
