@import "splash-slideshow";
@import "video";

.splash {
	.introduction {
		background: {
			position: center 10%;
			repeat: no-repeat;
		}
		bottom: 0;
		color: #fff;
		font-family: Raleway;
		font-size: 2em;
		font-weight: 700;
		left: 0;
		padding: 0.5em;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		z-index: 10;

		&::before {
			background-image: url("../images/logo@2x.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100%;
			content: "";
			display: block;
			height: (516px / 2);
			left: 50%;
			margin-left: -80px;
			position: absolute;
			top: -200px;
			width: 50%;

			@include responsive("min-width: 640px") {
				background-size: (722px/2) auto;
				margin-left: -180px;
				top: -295px;
				width: (722px / 2);
			}
		}
	}
}

article.slide {
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	}

	&.nscorp {
		background-image: url('http://www.rp3agency.com/data1/images/home_feat_nscorp.jpg');
	}

	&.conjunction-junction {
		background-image: url('http://www.rp3agency.com/data1/images/home_feat_conjunction.jpg');
	}

	&.united-way {
		background-image: url('http://www.rp3agency.com/data1/images/home_feat_hero.jpg');
	}
}

section.case-studies {
	@include bp(medium) {
		position: relative;
		z-index: 10;
	}
}

section.news-blog {
	@include bp(medium) {
		align-items: stretch;
		background-color: #fff;
		display: flex;
		justify-content: space-around;
		padding: 2em 0;
		position: relative;
		z-index: 10;
	
		article {
			width: 25%;
		}
	}

	a {
		border-bottom: 1px solid $black;
		color: $black;
		display: block;
		padding: 5vw;
		text-decoration: none;

		@include bp(medium) {
			border: 1px solid $black;
			padding: 2rem 10%;
		}
	}

	.tag {
		background-color: $blue;
		border-radius: 3px;
		color: #fff;
		display: inline-block;
		font-size: ce( 11px, $default-font-size );
		font-weight: bold;
		margin: 0;
		padding: 3px;
		text-transform: uppercase;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

section.clients {
	text-align: center;

	@include bp(medium) {
		background-color: #fff;
		position: relative;
		z-index: 10;
	}

	h1 {
		margin: 0;
	}

	ul {
		@extend %clear-ul-formatting;

		@include bp(medium) {
			margin: 0 auto;
			width: 95vw;
		}

		li {
			@extend %ir;

			background: url("../images/clients.png") no-repeat;
			display: block;
			margin-bottom: 1em;

			$client-logos: (
				nscorp: 		(   0    -55px, 125px, 33px),
				darcars: 		(-227px  -61px, 132px, 20px),
				johns-hopkins:	(-459px  -32px, 128px, 78px),
				wawf:			(-678px  -56px, 153px, 36px),
				ripleysnyc:		( -14px -151px,  94px, 61px),
				fhao:			(-168px -159px, 132px, 54px),
				carr:			(-355px -163px, 105px, 56px),
				wolftrap:		(-542px -151px,  78px, 70px),
				intelsat:		(-687px -170px, 135px, 36px),
				longandfoster:	( -13px -259px,  89px, 68px),
				sourceamerica:	(-201px -291px, 156px, 18px),
				southern:		(-446px -276px, 153px, 36px),
				mba:			(-717px -264px, 100px, 55px)
			);

			@each $client, $logo in $client-logos {
				&.#{$client} {
					background-position: nth($logo, 1);
					height: nth($logo, 3);
					width: nth($logo, 2);
				}
			}
		}
	}
}

.interstitial {

	@include bp(medium) {
		background-color: #fff;
		position: relative;
		z-index: 10;
	}

	.accordion {
		align-content: stretch;
		display: flex;
		justify-content: space-around;
	}

	h1 {
		background: $black linear-gradient( to top, $black, mix( #fff, $black, 15% ) );
		color: #fff;
		cursor: pointer;
		font-weight: 400;
		margin: 0 0 2px;
		padding: 0.5em 0;
		text-align: center;
		text-transform: uppercase;

		@include bp(medium) {
			width: 25%;
		}
	}

	p {
		padding: 0 5vw;
	}
}
