@import "splash-slideshow";
@import "video";

.splash {
	.introduction {
		background: {
			position: center 10%;
			repeat: no-repeat;
		}
		bottom: 0;
		color: #fff;
		font-family: Raleway;
		font-size: 2em;
		font-weight: 700;
		left: 0;
		padding: 0.5em;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		z-index: 10;

		&::before {
			background-image: url("../images/logo@2x.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100%;
			content: "";
			display: block;
			height: (516px / 2);
			left: 50%;
			margin-left: -80px;
			position: absolute;
			top: -200px;
			width: 50%;

			@include responsive("min-width: 640px") {
				background-size: (722px/2) auto;
				margin-left: -180px;
				top: -295px;
				width: (722px / 2);
			}
		}
	}
}

.interstitial {
	background-color: rgb(247, 253, 255);

	h1 {
		background: $black linear-gradient( to top, $black, mix( #fff, $black, 15% ) );
		color: #fff;
		font-weight: 400;
		margin: 0 0 2px;
		padding: 0.5em 0;
		text-align: center;
		text-transform: uppercase;
	}

	p {
		padding: 0 5vw;
	}
}

article.slide {
	background: {
		color: #fff;
		position: center center;
		repeat: no-repeat;
		size: cover;
	}

	&.one {
		background-image: url('http://www.rp3agency.com/data1/images/home_feat_nscorp.jpg');
	}

	&.two {
		background-image: url('http://www.rp3agency.com/data1/images/home_feat_conjunction.jpg');
	}

	&.three {
		background-image: url('http://www.rp3agency.com/data1/images/home_feat_hero.jpg');
	}

	&.four {
		background-image: url('http://www.rp3agency.com/data1/images/home_feat_sizzle.jpg');
	}
}

section.news-blog {
	background-color: #fff;
	padding-top: 5vw;

	article {
		border-bottom: 1px solid $black;
		padding: 0 5vw;
	}

	.tag {
		background-color: $blue;
		color: #fff;
		display: inline-block;
		font-size: ce( 11px, $default-font-size );
		font-weight: bold;
		margin-bottom: 0;
		padding: 3px;
		text-transform: uppercase;
	}
}

section.clients {
	background-color: #fff;
	text-align: center;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		margin-bottom: 1em;
		text-align: center;
		width: 100%;
	}

	img {
		display: inline-block;
	}
}
