.splash {
	background-color: #000;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	.slideshow {
		position: absolute;
		bottom: 0;
		list-style: none;
		margin: 0;
		opacity: 0.5;
		padding: 0;
		right: 0;
		top: 0;
		left: 0;
		z-index: 0;

		li {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			color: transparent;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			opacity: 0;
			z-index: 0;

			animation: imageAnimation 18s linear infinite 0s;
			transform: translateZ(0);
		}

		li:nth-child(1) {
			background-image: url("../images/city-1.jpg");

			@include retina {
				background-image: url("../images/city-1@2x.jpg");
			}
		}

		li:nth-child(2) {
			background-image: url("../images/city-2.jpg");
			animation-delay: 6s;

			@include retina {
				background-image: url("../images/city-2@2x.jpg");
			}
		}

		li:nth-child(3) {
			background-image: url("../images/city-3.jpg");
			animation-delay: 12s;

			@include retina {
				background-image: url("../images/city-3@2x.jpg");
			}
		}
	}
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
	50% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
