/** Susy */

$susy: (
	"columns":       12,
	"gutters":       1/4,
	"container":     rem( 900px ),
	"output":        isolate,
	// "debug": (
	// 	"image": "show",
	// 	"color": transparentize( magenta, 0.8 )
	// )
);

$max-width: 900px;

/** Breakpoint */

$hidpi: min-resolution 1.5dppx;

$bp-medium: 700px;

$breakpoints-to-ems: true;
