/** Fonts */

$font__default-size:		14px;
$font__roboto:				"Roboto", "Arial", sans-serif;
$font__roboto-condensed:	"Roboto Condensed";
$font__weights: (
	"light":	300,
	"normal":	400,
	"bold":		700
);


/** Colors */

$black:						#000;
$white:						#fff;
